<footer class="web-footer">
  <div class="container">
    <div>捷陞專業自動門工程<a href="tel:+886422467160">TEL：（04）2246-7160</a><a href="fax:+886422467392">FAX：（04）2246-7392</a><span>Address：406台中市北屯區修齊街156號</span></div>
    <copyright>Copyright © 2016 Jason Automatic Door All Rights Reserved</copyright>
    <div class="sponser">網站由<a class="trunk-studio" target="_blank" href="http://trunk-studio.com/">創科資訊</a>提供技術支援</div>
  </div>
<footer>
