<fieldset>

  
    <section>
      <label class="label">權限 ID</label>
      <label class="input state-disabled">
      <input type="text" name="status" placeholder="" v-model="data.item.status" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入權限 ID</b></label>
    </section>
  
    <section>
      <label class="label">清單 ID</label>
      <label class="input state-disabled">
      <input type="text" name="comment" placeholder="" v-model="data.item.comment" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入清單 ID</b></label>
    </section>
  
    <section>
      <label class="label">通知</label>
      <label class="input state-disabled">
      <input type="text" name="notify" placeholder="" v-model="data.item.notify" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入通知</b></label>
    </section>
  
    <section>
      <label class="label">訂單付款資訊ID</label>
      <label class="input state-disabled">
      <input type="text" name="OrderPaymentId" placeholder="" v-model="data.item.OrderPaymentId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入訂單付款資訊ID</b></label>
    </section>
  
    <section>
      <label class="label">訂單付款資訊狀態ID</label>
      <label class="input state-disabled">
      <input type="text" name="OrderPaymentStatusId" placeholder="" v-model="data.item.OrderPaymentStatusId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入訂單付款資訊狀態ID</b></label>
    </section>
  

</fieldset>
<script>
var formRules = {}
var formMessages = {}
</script>
