<fieldset>


  <section>
    <label class="label">id</label>
    <label class="input state-disabled">
      <input type="text" name="id" placeholder="" v-model="data.item.id" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入id</b></label>
  </section>

  <section>
    <label class="label">發票號碼</label>
    <label class="input state-disabled">
      <input type="text" name="invoiceNo" placeholder="" v-model="data.item.invoiceNo" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入發票號碼</b></label>
  </section>

  <section>
    <label class="label">發票開頭</label>
    <label class="input state-disabled">
      <input type="text" name="invoicePrefix" placeholder="" v-model="data.item.invoicePrefix" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入發票開頭</b></label>
  </section>

  <section>
    <label class="label">姓</label>
    <label class="input state-disabled">
      <input type="text" name="firstname" placeholder="" v-model="data.item.firstname" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入姓</b></label>
  </section>

  <section>
    <label class="label">名</label>
    <label class="input state-disabled">
      <input type="text" name="lastname" placeholder="" v-model="data.item.lastname" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入名</b></label>
  </section>

  <section>
    <label class="label">信箱</label>
    <label class="input state-disabled">
      <input type="text" name="mail" placeholder="" v-model="data.item.mail" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入信箱</b></label>
  </section>

  <section>
    <label class="label">電話</label>
    <label class="input state-disabled">
      <input type="text" name="telephone" placeholder="" v-model="data.item.telephone" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入電話</b></label>
  </section>

  <section>
    <label class="label">傳真</label>
    <label class="input state-disabled">
      <input type="text" name="fax" placeholder="" v-model="data.item.fax" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入傳真</b></label>
  </section>

  <section>
    <label class="label">自訂欄位</label>
    <label class="input state-disabled">
      <input type="text" name="customField" placeholder="" v-model="data.item.customField" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入自訂欄位</b></label>
  </section>

  <section>
    <label class="label">付款名字</label>
    <label class="input state-disabled">
      <input type="text" name="paymentFirstname" placeholder="" v-model="data.item.paymentFirstname" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款名字</b></label>
  </section>

  <section>
    <label class="label">付款人姓氏</label>
    <label class="input state-disabled">
      <input type="text" name="paymentLastname" placeholder="" v-model="data.item.paymentLastname" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人姓氏</b></label>
  </section>

  <section>
    <label class="label">付款公司名稱</label>
    <label class="input state-disabled">
      <input type="text" name="paymentCompany" placeholder="" v-model="data.item.paymentCompany" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款公司名稱</b></label>
  </section>

  <section>
    <label class="label">付款人地址</label>
    <label class="input state-disabled">
      <input type="text" name="paymentAddress1" placeholder="" v-model="data.item.paymentAddress1" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人地址</b></label>
  </section>

  <section>
    <label class="label">付款人地址2</label>
    <label class="input state-disabled">
      <input type="text" name="paymentAddress2" placeholder="" v-model="data.item.paymentAddress2" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人地址2</b></label>
  </section>

  <section>
    <label class="label">付款人城市</label>
    <label class="input state-disabled">
      <input type="text" name="paymentCity" placeholder="" v-model="data.item.paymentCity" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人城市</b></label>
  </section>

  <section>
    <label class="label">付款人郵遞區號</label>
    <label class="input state-disabled">
      <input type="text" name="paymentPostcode" placeholder="" v-model="data.item.paymentPostcode" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人郵遞區號</b></label>
  </section>

  <section>
    <label class="label">付款人國家</label>
    <label class="input state-disabled">
      <input type="text" name="paymentCountry" placeholder="" v-model="data.item.paymentCountry" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人國家</b></label>
  </section>

  <section>
    <label class="label">付款人國家代碼</label>
    <label class="input state-disabled">
      <input type="text" name="paymentCountryId" placeholder="" v-model="data.item.paymentCountryId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人國家代碼</b></label>
  </section>

  <section>
    <label class="label">付款人區域</label>
    <label class="input state-disabled">
      <input type="text" name="paymentZone" placeholder="" v-model="data.item.paymentZone" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人區域</b></label>
  </section>

  <section>
    <label class="label">付款人區域代碼</label>
    <label class="input state-disabled">
      <input type="text" name="paymentZoneId" placeholder="" v-model="data.item.paymentZoneId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人區域代碼</b></label>
  </section>

  <section>
    <label class="label">付款人地址格式</label>
    <label class="input state-disabled">
      <input type="text" name="paymentAddressFormat" placeholder="" v-model="data.item.paymentAddressFormat" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人地址格式</b></label>
  </section>

  <section>
    <label class="label">付款人資訊自訂欄位</label>
    <label class="input state-disabled">
      <input type="text" name="paymentCustomField" placeholder="" v-model="data.item.paymentCustomField" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款人資訊自訂欄位</b></label>
  </section>

  <section>
    <label class="label">付款方式</label>
    <label class="input state-disabled">
      <input type="text" name="paymentMethod" placeholder="" v-model="data.item.paymentMethod" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款方式</b></label>
  </section>

  <section>
    <label class="label">付款代碼</label>
    <label class="input state-disabled">
      <input type="text" name="paymentCode" placeholder="" v-model="data.item.paymentCode" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款代碼</b></label>
  </section>

  <section>
    <label class="label">收件人名字</label>
    <label class="input state-disabled">
      <input type="text" name="shippingFirstname" placeholder="" v-model="data.item.shippingFirstname" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人名字</b></label>
  </section>

  <section>
    <label class="label">收件人姓氏</label>
    <label class="input state-disabled">
      <input type="text" name="shippingLastname" placeholder="" v-model="data.item.shippingLastname" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人姓氏</b></label>
  </section>

  <section>
    <label class="label">收件公司名稱</label>
    <label class="input state-disabled">
      <input type="text" name="shippingCompany" placeholder="" v-model="data.item.shippingCompany" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件公司名稱</b></label>
  </section>

  <section>
    <label class="label">收件人地址</label>
    <label class="input state-disabled">
      <input type="text" name="shippingAddress1" placeholder="" v-model="data.item.shippingAddress1" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人地址</b></label>
  </section>

  <section>
    <label class="label">收件人地址2</label>
    <label class="input state-disabled">
      <input type="text" name="shippingAddress2" placeholder="" v-model="data.item.shippingAddress2" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人地址2</b></label>
  </section>

  <section>
    <label class="label">收件人城市</label>
    <label class="input state-disabled">
      <input type="text" name="shippingCity" placeholder="" v-model="data.item.shippingCity" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人城市</b></label>
  </section>

  <section>
    <label class="label">收件人郵遞區號</label>
    <label class="input state-disabled">
      <input type="text" name="shippingPostcode" placeholder="" v-model="data.item.shippingPostcode" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人郵遞區號</b></label>
  </section>

  <section>
    <label class="label">收件人國家</label>
    <label class="input state-disabled">
      <input type="text" name="shippingCountry" placeholder="" v-model="data.item.shippingCountry" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人國家</b></label>
  </section>

  <section>
    <label class="label">收件人國家代碼</label>
    <label class="input state-disabled">
      <input type="text" name="shippingCountryId" placeholder="" v-model="data.item.shippingCountryId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人國家代碼</b></label>
  </section>

  <section>
    <label class="label">收件人區域</label>
    <label class="input state-disabled">
      <input type="text" name="shippingZone" placeholder="" v-model="data.item.shippingZone" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人區域</b></label>
  </section>

  <section>
    <label class="label">收件人區域代碼</label>
    <label class="input state-disabled">
      <input type="text" name="shippingZoneId" placeholder="" v-model="data.item.shippingZoneId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人區域代碼</b></label>
  </section>

  <section>
    <label class="label">收件人地址格式</label>
    <label class="input state-disabled">
      <input type="text" name="shippingAddressFormat" placeholder="" v-model="data.item.shippingAddressFormat" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人地址格式</b></label>
  </section>

  <section>
    <label class="label">收件人資訊自訂欄位</label>
    <label class="input state-disabled">
      <input type="text" name="shippingCustomField" placeholder="" v-model="data.item.shippingCustomField" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件人資訊自訂欄位</b></label>
  </section>

  <section>
    <label class="label">收件方式</label>
    <label class="input state-disabled">
      <input type="text" name="shippingMethod" placeholder="" v-model="data.item.shippingMethod" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件方式</b></label>
  </section>

  <section>
    <label class="label">收件代碼</label>
    <label class="input state-disabled">
      <input type="text" name="shippingCode" placeholder="" v-model="data.item.shippingCode" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入收件代碼</b></label>
  </section>

  <section>
    <label class="label">附註</label>
    <label class="input state-disabled">
      <input type="text" name="comment" placeholder="" v-model="data.item.comment" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入附註</b></label>
  </section>

  <section>
    <label class="label">總價</label>
    <label class="input state-disabled">
      <input type="text" name="total" placeholder="" v-model="data.item.total" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入總價</b></label>
  </section>

  <section>
    <label class="label">佣金</label>
    <label class="input state-disabled">
      <input type="text" name="commission" placeholder="" v-model="data.item.commission" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入佣金</b></label>
  </section>

  <section>
    <label class="label">追蹤狀態</label>
    <label class="input state-disabled">
      <input type="text" name="tracking" placeholder="" v-model="data.item.tracking" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入追蹤狀態</b></label>
  </section>

  <section>
    <label class="label">IP</label>
    <label class="input state-disabled">
      <input type="text" name="ip" placeholder="" v-model="data.item.ip" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入IP</b></label>
  </section>

  <section>
    <label class="label">ForwardedIP</label>
    <label class="input state-disabled">
      <input type="text" name="forwardedIp" placeholder="" v-model="data.item.forwardedIp" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入ForwardedIP</b></label>
  </section>

  <section>
    <label class="label">userAgent</label>
    <label class="input state-disabled">
      <input type="text" name="userAgent" placeholder="" v-model="data.item.userAgent" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入userAgent</b></label>
  </section>

  <section>
    <label class="label">接受語系</label>
    <label class="input state-disabled">
      <input type="text" name="acceptLanguage" placeholder="" v-model="data.item.acceptLanguage" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入接受語系</b></label>
  </section>

  <section>
    <label class="label">建立時間</label>
    <label class="input state-disabled">
      <input type="text" name="createdAt" placeholder="" v-model="data.item.createdAt" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入建立時間</b></label>
  </section>

  <section>
    <label class="label">更新時間</label>
    <label class="input state-disabled">
      <input type="text" name="updatedAt" placeholder="" v-model="data.item.updatedAt" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入更新時間</b></label>
  </section>

  <section>
    <label class="label">OrderId</label>
    <label class="input state-disabled">
      <input type="text" name="OrderId" placeholder="" v-model="data.item.OrderId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入OrderId</b></label>
  </section>

  <section>
    <label class="label">SupplierId</label>
    <label class="input state-disabled">
      <input type="text" name="SupplierId" placeholder="" v-model="data.item.SupplierId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入SupplierId</b></label>
  </section>


</fieldset>
<script>
  var formRules = {}
  var formMessages = {}
</script>
