
<!-- client -->
<table id="main-table" class="table table-striped table-bordered table-hover" width="100%">
  <thead>
    <tr>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          id
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          發票號碼
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          發票開頭
        </th>
      
        
        <th data-hide=""
        data-class="expand" class="no-sort">
          姓
        </th>
      
        
        <th data-hide=""
        data-class="" class="no-sort">
          名
        </th>
      
        
        <th data-hide="phone"
        data-class="" class="no-sort">
          信箱
        </th>
      
        
        <th data-hide=""
        data-class="" class="no-sort">
          電話
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          傳真
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          自訂欄位
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款名字
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人姓氏
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款公司名稱
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人地址
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人地址2
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人城市
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人郵遞區號
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人國家
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人國家代碼
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人區域
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人區域代碼
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人地址格式
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款人資訊自訂欄位
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款方式
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          付款代碼
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人名字
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人姓氏
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件公司名稱
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人地址
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人地址2
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人城市
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人郵遞區號
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人國家
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人國家代碼
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人區域
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人區域代碼
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人地址格式
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件人資訊自訂欄位
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件方式
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          收件代碼
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          附註
        </th>
      
        
        <th data-hide="phone, tablet"
        data-class="" class="no-sort">
          總價
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          佣金
        </th>
      
        
        <th data-hide=""
        data-class="" class="no-sort">
          追蹤狀態
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          IP
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          ForwardedIP
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          userAgent
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          接受語系
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          建立時間
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          更新時間
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          AllpayId
        </th>
      
        
        <th data-hide="always"
        data-class="" class="no-sort">
          UserId
        </th>
      
      <th width="80" data-hide="phone,tablet"></th>
    </tr>
  </thead>
  <!-- client only -->
  <tbody>
    <tr v-for="item in data.items">
      
        <td>{{ item.id}}</td>
      
        <td>{{ item.invoiceNo}}</td>
      
        <td>{{ item.invoicePrefix}}</td>
      
        <td>{{ item.firstname}}</td>
      
        <td>{{ item.lastname}}</td>
      
        <td>{{ item.mail}}</td>
      
        <td>{{ item.telephone}}</td>
      
        <td>{{ item.fax}}</td>
      
        <td>{{ item.customField}}</td>
      
        <td>{{ item.paymentFirstname}}</td>
      
        <td>{{ item.paymentLastname}}</td>
      
        <td>{{ item.paymentCompany}}</td>
      
        <td>{{ item.paymentAddress1}}</td>
      
        <td>{{ item.paymentAddress2}}</td>
      
        <td>{{ item.paymentCity}}</td>
      
        <td>{{ item.paymentPostcode}}</td>
      
        <td>{{ item.paymentCountry}}</td>
      
        <td>{{ item.paymentCountryId}}</td>
      
        <td>{{ item.paymentZone}}</td>
      
        <td>{{ item.paymentZoneId}}</td>
      
        <td>{{ item.paymentAddressFormat}}</td>
      
        <td>{{ item.paymentCustomField}}</td>
      
        <td>{{ item.paymentMethod}}</td>
      
        <td>{{ item.paymentCode}}</td>
      
        <td>{{ item.shippingFirstname}}</td>
      
        <td>{{ item.shippingLastname}}</td>
      
        <td>{{ item.shippingCompany}}</td>
      
        <td>{{ item.shippingAddress1}}</td>
      
        <td>{{ item.shippingAddress2}}</td>
      
        <td>{{ item.shippingCity}}</td>
      
        <td>{{ item.shippingPostcode}}</td>
      
        <td>{{ item.shippingCountry}}</td>
      
        <td>{{ item.shippingCountryId}}</td>
      
        <td>{{ item.shippingZone}}</td>
      
        <td>{{ item.shippingZoneId}}</td>
      
        <td>{{ item.shippingAddressFormat}}</td>
      
        <td>{{ item.shippingCustomField}}</td>
      
        <td>{{ item.shippingMethod}}</td>
      
        <td>{{ item.shippingCode}}</td>
      
        <td>{{ item.comment}}</td>
      
        <td>{{ item.total}}</td>
      
        <td>{{ item.commission}}</td>
      
        <td>{{ item.tracking}}</td>
      
        <td>{{ item.ip}}</td>
      
        <td>{{ item.forwardedIp}}</td>
      
        <td>{{ item.userAgent}}</td>
      
        <td>{{ item.acceptLanguage}}</td>
      
        <td>{{ item.createdAt}}</td>
      
        <td>{{ item.updatedAt}}</td>
      
        <td>{{ item.AllpayId}}</td>
      
        <td>{{ item.UserId}}</td>
      
      <td align="center" style="cursor: pointer;">
        <div class="row">
          <a class="btn btn-default btn-xs" role="button" v-on:click="show(item.id)">
            <i class="fa-fw fa fa-eye text-muted" />
          </a>
          <a class="btn btn-default btn-xs" role="button" v-on:click="edit(item.id)">
            <i class="fa-fw fa fa-pencil-square-o text-muted"/>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
 </table>


<script type="text/javascript">
  var pagefunction = function() {

    // server only
    var columns = [
      
        
          { "data": "id" },
        
      
        
          { "data": "invoiceNo" },
        
      
        
          { "data": "invoicePrefix" },
        
      
        
          { "data": "firstname" },
        
      
        
          { "data": "lastname" },
        
      
        
          { "data": "mail" },
        
      
        
          { "data": "telephone" },
        
      
        
          { "data": "fax" },
        
      
        
          { "data": "customField" },
        
      
        
          { "data": "paymentFirstname" },
        
      
        
          { "data": "paymentLastname" },
        
      
        
          { "data": "paymentCompany" },
        
      
        
          { "data": "paymentAddress1" },
        
      
        
          { "data": "paymentAddress2" },
        
      
        
          { "data": "paymentCity" },
        
      
        
          { "data": "paymentPostcode" },
        
      
        
          { "data": "paymentCountry" },
        
      
        
          { "data": "paymentCountryId" },
        
      
        
          { "data": "paymentZone" },
        
      
        
          { "data": "paymentZoneId" },
        
      
        
          { "data": "paymentAddressFormat" },
        
      
        
          { "data": "paymentCustomField" },
        
      
        
          { "data": "paymentMethod" },
        
      
        
          { "data": "paymentCode" },
        
      
        
          { "data": "shippingFirstname" },
        
      
        
          { "data": "shippingLastname" },
        
      
        
          { "data": "shippingCompany" },
        
      
        
          { "data": "shippingAddress1" },
        
      
        
          { "data": "shippingAddress2" },
        
      
        
          { "data": "shippingCity" },
        
      
        
          { "data": "shippingPostcode" },
        
      
        
          { "data": "shippingCountry" },
        
      
        
          { "data": "shippingCountryId" },
        
      
        
          { "data": "shippingZone" },
        
      
        
          { "data": "shippingZoneId" },
        
      
        
          { "data": "shippingAddressFormat" },
        
      
        
          { "data": "shippingCustomField" },
        
      
        
          { "data": "shippingMethod" },
        
      
        
          { "data": "shippingCode" },
        
      
        
          { "data": "comment" },
        
      
        
          { "data": "total" },
        
      
        
          { "data": "commission" },
        
      
        
          { "data": "tracking" },
        
      
        
          { "data": "ip" },
        
      
        
          { "data": "forwardedIp" },
        
      
        
          { "data": "userAgent" },
        
      
        
          { "data": "acceptLanguage" },
        
      
        
          { "data": "createdAt" },
        
      
        
          { "data": "updatedAt" },
        
      
        
          { "data": "AllpayId" },
        
      
        
          { "data": "UserId" },
        
      
        { "data": null },
    ]

    // server only
    var columnDefs = [
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
      {
        "targets"  : 51,
        "orderable": false,
        "searchable": false,
        "render": function ( data, type, row ) {
          var colBody =
          '<div class="row-action-buttons hidden-xs hidden-sm">'+
          '<a name="showDataButton" class="btn btn-default btn-xs" role="button" data-id="'+row.id+'">'+
          '<i class="fa-fw fa fa-eye text-muted" />'+
          '</a>'+
          '<a name="editDataButton" class="btn btn-default btn-xs" role="button" data-id="'+row.id+'">'+
          '<i class="fa-fw fa fa-pencil-square-o text-muted"/>'+
          '</a>'+
          '</div>';
          return colBody;
        }
      },
    ]
    var serverSidePaging = <%= (data.serverSidePaging != null)?data.serverSidePaging:false %>;
    <%- include vue.ejs %>
    appMain.$mount("#main-index");
    appMain.loadItems(appMain.renderTable);
  };
</script>
