<div class="b2b-side-nav-mask">
</div>

<div class="b2b-side-nav-btn">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>

<aside class="b2b-side-nav">
  <h1 class="logo-text">雲端<br>漁場</h1>
  <span class="decoration-text">熱門分類</span>
  <ul class="b2b-side-nav-list">
    <li><a class='active' href="#"><%= data.categorys[0] %></a></li>

    <% for(var i = 1; i < data.categorys.length; i++) { %>
      <li><a href="#"><%= data.categorys[i] %></a></li>
    <% } %>
  </ul>
</aside>


<% LayoutUtils.addScriptBlock(`
  $(document).ready(function(){
    $('.b2b-side-nav').css({
      height: $('body').height(),
    })
    $(window).resize(function(){
      $('.b2b-side-nav').css({
        height: $('body').height(),
      })
    });
    $('.b2b-side-nav-btn').click(function(){
      $('.b2b-side-nav, .b2b-side-nav-mask').addClass('open');
    });
    $('.b2b-side-nav-mask').click(function(){
      $('.b2b-side-nav, .b2b-side-nav-mask').removeClass('open');
    });
  });
`); %>
