<div class="b2b-side-nav-mask">
</div>

<div class="b2b-side-nav-btn">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>

<aside class="b2b-side-nav">
  <h1 class="logo-text">雲端<br>漁場</h1>
  <span class="decoration-text">熱門分類</span>
  <ul class="b2b-side-nav-list">
    <li><a href="#">海鮮製品</a></li>
    <li><a class='active' href="#">貝殼干貝</a></li>
    <li><a href="#">透抽小卷</a></li>
    <li><a href="#">蝦類專區</a></li>
    <li><a href="#">進口水產</a></li>
    <li><a href="#">土魠魚</a></li>
    <li><a href="#">虱目魚</a></li>
    <li><a href="#">魚卵</a></li>
    <li><a href="#">台灣水產</a></li>
    <li><a href="#">日本海鮮</a></li>
    <li><a href="#">生鮮肉品</a></li>
  </ul>
</aside>


<% LayoutUtils.addScriptBlock(`
  $(document).ready(function(){
    $('.b2b-side-nav').css({
      height: $('body').height(),
    })
    $('.b2b-side-nav-btn').click(function(){
      $('.b2b-side-nav, .b2b-side-nav-mask').addClass('open');
    });
    $('.b2b-side-nav-mask').click(function(){
      $('.b2b-side-nav, .b2b-side-nav-mask').removeClass('open');
    });
  });
`); %>
