<fieldset>

  
    <section>
      <label class="label">ID</label>
      <label class="input state-disabled">
      <input type="text" name="id" placeholder="" v-model="data.item.id" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入ID</b></label>
    </section>
  
    <section>
      <label class="label">模組名稱</label>
      <label class="input state-disabled">
      <input type="text" name="name" placeholder="" v-model="data.item.name" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入模組名稱</b></label>
    </section>
  
    <section>
      <label class="label">模組寬度</label>
      <label class="input state-disabled">
      <input type="text" name="width" placeholder="" v-model="data.item.width" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入模組寬度</b></label>
    </section>
  
    <section>
      <label class="label">模組高度</label>
      <label class="input state-disabled">
      <input type="text" name="height" placeholder="" v-model="data.item.height" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入模組高度</b></label>
    </section>
  
    <section>
      <label class="label">狀態</label>
      <label class="input state-disabled">
      <input type="text" name="status" placeholder="" v-model="data.item.status" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入狀態</b></label>
    </section>
  
    <section>
      <label class="label">模組設定</label>
      <label class="input state-disabled">
      <input type="text" name="settings" placeholder="" v-model="data.item.settings" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入模組設定</b></label>
    </section>
  
    <section>
      <label class="label">模組類型ID</label>
      <label class="input state-disabled">
      <input type="text" name="module_type_id" placeholder="" v-model="data.item.module_type_id" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入模組類型ID</b></label>
    </section>
  

</fieldset>
<script>
var formRules = {}
var formMessages = {}
</script>
