<fieldset>

  
    <section>
      <label class="label">狀態</label>
      <label class="input state-disabled">
      <input type="text" name="name" placeholder="" v-model="data.item.name" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入狀態</b></label>
    </section>
  
    <section>
      <label class="label">語系ID</label>
      <label class="input state-disabled">
      <input type="text" name="languageId" placeholder="" v-model="data.item.languageId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入語系ID</b></label>
    </section>
  

</fieldset>
<script>
var formRules = {}
var formMessages = {}
</script>
