<div class="b2b-breadcrumbs">
  <div class="container" style="max-width: 960px;">
    <h1>確認訂購單</h1>
  </div>
</div>
<div class="container b2b-order-form">
	<div class="row" style="margin-top: 2em;">
    <div class="col-sm-4">
      <i class="fa fa-user info-icon" aria-hidden="true"></i>
    </div>
    <div class="col-sm-8">
      <table style="margin-top: 3.2em;">
        <tbody>
          <tr>
            <td style="width: 6em;">客戶名稱：</td><td>珍好吃活海產</td>
          </tr>
          <tr>
            <td>購買人：</td><td>李小珍</td>
          </tr>
          <tr>
            <td>會員級別：</td><td>商務 VIP</td>
          </tr>
          <tr>
            <td>通訊地址：</td><td>403 台中市西區台灣大道二段9999號</td>
          </tr>
          <tr>
            <td>電話：</td><td>0900-000-000</td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>

  <div class="row" style="margin-top: 2em;">
    <div class="col-sm-4">
      <i class="fa fa-truck info-icon" aria-hidden="true"></i>
    </div>
    <div class="col-sm-8">
      <table style="margin-top: 3.2em;">
        <tbody>
          <tr>
            <td style="width: 6em;">運送方式：</td><td>低溫宅配</td>
          </tr>
          <tr>
            <td>運費：</td><td>150元</td>
          </tr>
          <tr>
            <td>收件地址：</td><td>403 台中市西區台灣大道二段9999號</td>
          </tr>
          <tr>
            <td>收件人：</td><td>張三封</td>
          </tr>
          <tr>
            <td>聯絡電話：</td><td>(04)12345678</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <table class="table" style="margin-top: 3.2em;">
    <thead>
      <tr>
        <th>品名</th><th>單價</th><th>數量</th><th>小計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>澎湖帝王級野生超大明蝦</td><td>260</td><td>1</td><td>260</td>
      </tr>
      <tr>
        <td>澎湖帝王級野生超大明蝦</td><td>260</td><td>1</td><td>260</td>
      </tr>
    </tbody>
  </table>

  <table class="b2b-bill-info pull-right" style="margin-top: 1em;">
    <tr>
      <td>合計</td><td>1500</td>
    </tr>
    <tr>
      <td>營業稅</td><td>75</td>
    </tr>
    <tr>
      <td>總計</td><td>1575</td>
    </tr>
  </table>

  <a href="#" role="button" class="btn btn-default btn-lg pull-right" style="clear:right; display:inline-block; margin:1.6em 0 3em;">結帳去</a>

</div>
