<% LayoutUtils.addMeta({ property:"og:image", content:SocialService.getShareUrl() + "/assets/tcmadr/img/logo.png" }); %>
<% LayoutUtils.addMeta({ property:"og:image:url", content:SocialService.getShareUrl() + "/assets/tcmadr/img/logo.png"  }); %>
<% LayoutUtils.addMeta({ property:"og:image:type", content:"image/jpeg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:width", content:"1200" }); %>
<% LayoutUtils.addMeta({ property:"og:image:height", content:"630" }); %>
<% LayoutUtils.addMeta({ property:"og:title", content:"CargoCMS" }); %>
<% LayoutUtils.addMeta({ property:"og:description", content:"CargoCMS" }); %>
<% LayoutUtils.addMeta({ property:"og:type", content:"website" }); %>
<% LayoutUtils.addStylesheets('/assets/jason/page/index/index.css'); %>
<% include partials/banner.ejs %>

<div class="container body">

  <div class="row">
    <div class="col-md-2 sec-menu">
      <button class="sidebar-toggle btn btn-primary visible-sm-block visible-xs-block"><i class="fa fa-th-list"></i></button>
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">公司簡介</a></li>
        <li role="presentation"><a href="#">成立沿革</a></li>
        <li role="presentation"><a href="#">地理位置</a></li>
      </ul>
    </div>
    <div class="col-md-10 content">
      <header class="article-title">
        <i class="fa fa-flag"></i>
        <h1>成立沿革</h2>
      </header>
    </div>
  </div>

</div>



<% LayoutUtils.addScripts('/assets/unify/js/app.js', '/assets/unify/js/plugins/owl-carousel.js'); %>
<% LayoutUtils.addScriptBlock(`
jQuery(document).ready(function() {
  $('.sec-menu .sidebar-toggle').click(function(){
    $('.sec-menu').toggleClass('open');
  });
});
`); %>
