<!-- #PAGE FOOTER -->
<div class="page-footer">
	<div class="row">
		<div id="admin-copyright" class="col-xs-12 col-sm-6">
			<!--CargoCMS © 2016-->
			© Jason Automatic Door
		</div>
	</div>
	<!-- end row -->
</div>
<!-- END FOOTER -->
