<fieldset>

  
    <section>
      <label class="label">付款名字</label>
      <label class="input state-disabled">
      <input type="text" name="paymentFirstname" placeholder="" v-model="data.item.paymentFirstname" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款名字</b></label>
    </section>
  
    <section>
      <label class="label">付款姓氏</label>
      <label class="input state-disabled">
      <input type="text" name="paymentLastname" placeholder="" v-model="data.item.paymentLastname" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款姓氏</b></label>
    </section>
  
    <section>
      <label class="label">付款單位</label>
      <label class="input state-disabled">
      <input type="text" name="paymentCompany" placeholder="" v-model="data.item.paymentCompany" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款單位</b></label>
    </section>
  
    <section>
      <label class="label">付款地址1</label>
      <label class="input state-disabled">
      <input type="text" name="paymentAddress1" placeholder="" v-model="data.item.paymentAddress1" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款地址1</b></label>
    </section>
  
    <section>
      <label class="label">付款地址2</label>
      <label class="input state-disabled">
      <input type="text" name="paymentAddress2" placeholder="" v-model="data.item.paymentAddress2" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款地址2</b></label>
    </section>
  
    <section>
      <label class="label">付款城市</label>
      <label class="input state-disabled">
      <input type="text" name="paymentCity" placeholder="" v-model="data.item.paymentCity" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款城市</b></label>
    </section>
  
    <section>
      <label class="label">付款郵遞區號</label>
      <label class="input state-disabled">
      <input type="text" name="paymentPostcode" placeholder="" v-model="data.item.paymentPostcode" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款郵遞區號</b></label>
    </section>
  
    <section>
      <label class="label">付款國家</label>
      <label class="input state-disabled">
      <input type="text" name="paymentCountry" placeholder="" v-model="data.item.paymentCountry" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款國家</b></label>
    </section>
  
    <section>
      <label class="label">付款國家ID</label>
      <label class="input state-disabled">
      <input type="text" name="paymentCountryId" placeholder="" v-model="data.item.paymentCountryId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款國家ID</b></label>
    </section>
  
    <section>
      <label class="label">付款區域</label>
      <label class="input state-disabled">
      <input type="text" name="paymentZone" placeholder="" v-model="data.item.paymentZone" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款區域</b></label>
    </section>
  
    <section>
      <label class="label">付款區域ID</label>
      <label class="input state-disabled">
      <input type="text" name="paymentZoneId" placeholder="" v-model="data.item.paymentZoneId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款區域ID</b></label>
    </section>
  
    <section>
      <label class="label">付款地址格式</label>
      <label class="input state-disabled">
      <input type="text" name="paymentAddressFormat" placeholder="" v-model="data.item.paymentAddressFormat" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款地址格式</b></label>
    </section>
  
    <section>
      <label class="label">付款自訂欄位</label>
      <label class="input state-disabled">
      <input type="text" name="paymentCustomField" placeholder="" v-model="data.item.paymentCustomField" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款自訂欄位</b></label>
    </section>
  
    <section>
      <label class="label">付款方式</label>
      <label class="input state-disabled">
      <input type="text" name="paymentMethod" placeholder="" v-model="data.item.paymentMethod" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款方式</b></label>
    </section>
  
    <section>
      <label class="label">付款代碼</label>
      <label class="input state-disabled">
      <input type="text" name="paymentCode" placeholder="" v-model="data.item.paymentCode" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款代碼</b></label>
    </section>
  
    <section>
      <label class="label">付款狀態</label>
      <label class="input state-disabled">
      <input type="text" name="status" placeholder="" v-model="data.item.status" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入付款狀態</b></label>
    </section>
  
    <section>
      <label class="label">訂單狀態ID</label>
      <label class="input state-disabled">
      <input type="text" name="OrderStatusId" placeholder="" v-model="data.item.OrderStatusId" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入訂單狀態ID</b></label>
    </section>
  

</fieldset>
<script>
var formRules = {}
var formMessages = {}
</script>
