<% LayoutUtils.addMeta({ property:"og:image", content:SocialService.getShareUrl() + "/assets/labfnp/img/fb-og-image.jpg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:url", content:SocialService.getShareUrl() + "/assets/labfnp/img/fb-og-image.jpg"  }); %>
<% LayoutUtils.addMeta({ property:"og:image:type", content:"image/jpeg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:width", content:"1200" }); %>
<% LayoutUtils.addMeta({ property:"og:image:height", content:"630" }); %>
<% LayoutUtils.addMeta({ property:"og:title", content:"LFP: 香料香水實驗室，客製專屬香水" }); %>
<% LayoutUtils.addMeta({ property:"og:description", content:"香水和每個人的氣味，都應該是具有獨特性並具有標誌性的，而唯有透過每個人感受與創造氣味，才能追尋出每個不同自我。" }); %>
<% LayoutUtils.addMeta({ property:"og:type", content:"website" }); %>

<!-- Interactive Slider v2 -->
<div class="container content">
	<!--Error Block-->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<span>B2B index</span>
		</div>
	</div>
	<!--End Error Block-->
</div>

<% LayoutUtils.addScripts('/assets/unify/js/app.js', '/assets/unify/js/plugins/owl-carousel.js'); %>
<% LayoutUtils.addScriptBlock(`
jQuery(document).ready(function() {
  App.init();
		OwlCarousel.initOwlCarousel();
});
`); %>
