<% LayoutUtils.addMeta({ property:"og:image", content:SocialService.getShareUrl() + "/assets/labfnp/img/fb-og-image.jpg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:url", content:SocialService.getShareUrl() + "/assets/labfnp/img/fb-og-image.jpg"  }); %>
<% LayoutUtils.addMeta({ property:"og:image:type", content:"image/jpeg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:width", content:"1200" }); %>
<% LayoutUtils.addMeta({ property:"og:image:height", content:"630" }); %>
<% LayoutUtils.addMeta({ property:"og:title", content:"" }); %>
<% LayoutUtils.addMeta({ property:"og:description", content:"" }); %>
<% LayoutUtils.addMeta({ property:"og:type", content:"website" }); %>

<!-- Interactive Slider v2 -->
<div class="">
	<div class="row b2b-content b2b-content-header">
		<div class="col-md-8">
			<h1 style="
		    height: 161px;
		    background: #efefef;
		    margin: 35px 10px 37px;
		    text-align: center;
		    line-height: 161px;
		    font-size: 7em;
		    color: #d6d6d6;
		    text-transform: uppercase;">b2b</h1>
		</div>
		<div class="col-md-4">
			<form class="b2b-login">
			  <div class="form-group">
			    <input class="form-control" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <input class="form-control" placeholder="Password">
			  </div>
				<button type="button" class="btn btn-gray btn-lg btn-block">登入系統</button>
			</form>
		</div>
	</div>
	<div class="row b2b-content b2b-content-body">
    
    <% console.log("## items ### =>", data.items); %>
    <% for(let p of data.items) { %>
      <div class="col-sm-4 col-md-3 product product-promotion">
        <div class="product-img" style="background-image: url('<%= p.image%>');"></div>
        <h1><%= p.model %></h1>
        <span class="promotion-label">限量優惠</span>
        <p class="product-price">
  				<span><%= p.price %></span><small>起</small>
  			</p>
        <div class="form-group">
  				<label class="control-label">特級 <%= p.price %>/包:</label>
  				<input class="form-control" type="number" value="0" min="0" max="10" />
  			</div>
      </div>
    <% } %>

	</div>

</div>

<% LayoutUtils.addScripts('/assets/b2b/plugins/bootstrap-number-input.js'); %>
<% LayoutUtils.addScripts('/assets/unify/js/app.js', '/assets/unify/js/plugins/owl-carousel.js'); %>
<% LayoutUtils.addScriptBlock(`
jQuery(document).ready(function() {
  // App.init();
	// 	OwlCarousel.initOwlCarousel();
	$('.product input[type="number"]').bootstrapNumber();
});
`); %>
