.product {
  /*min-height: 230px;*/
  margin-top: 1em;
  display: block;
  color: #2d3238;
}
.product:after {
  content: '';
  width: 93%;
  height: 0px;
  margin-left: 13px;
  display: block;
  border-bottom: 1px dashed #e2e2e2;
}
.product h1 {
  font-size: 1.4em;
  margin-bottom: 8px;
}
.product small {
  display: block;
  margin-bottom: 0.6em;
}
.product p {
  color: #51545a;
}
.product small:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #ffc14f;
    border-radius: 50%;
    display: block;
    float: left;
    margin-right: 8px;
    transform: translateY(2px);
}
.product .product-img-wrapper {
  padding: 0 1em 0 0;
}
.product .product-content {
  padding: 0 2em;
}
.product.pagination{
  margin-top: 2.6em;
}
.no-product{
  margin: 4.5em 0 5em 0;
  text-align: center;
  font-size: 1.5em;
  color: #d0d0d0;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  background-color: #cdddea;
  border-color: #c3d4e2;
  box-shadow: 0 1px 1px #bfd4e4 inset;
}
@media (min-width: 1200px){
  .product .product-content {
    padding: 0.8em 2em;
  }
}
@media (max-width: 767px){
  .product .product-content {
    padding: 0 1.3em;
  }
}
@media (max-width: 449px){
  .product .product-content {
    padding: 0 0.8em;
  }
  .product h1 {
    margin-top: 1em;
    margin-bottom: 8px;
  }
}
// show
* {}
.col-md-6.img-content {
  padding-right: 2.6em;
}
.post-swiper-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12) inset;
}
.thumbnail-swiper-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin-top: 0;
  border: 1px solid #e8e8e8;
  padding: 12px 8px;
  background: #f7f7f7;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  padding-top: 1.3em;
}
.thumbnail-swiper-container .swiper-slide {
  transition: 0.2s all ease-in;
  cursor: pointer;
}
.thumbnail-swiper-container .swiper-slide.active {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
}
.swiper-slide {
  /*background: url('http://www.autodoor.twmail.net/webadmin/performance/file/PA030166.jpg');*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(247, 247, 247, 0.18);
  background-position-y: 2px;
}
.product-detail {
  margin-top: 3em;
}
.product-detail h1 {
  margin-top: 0;
  font-size: 1.6em;
}
.product-info-list {
  list-style: none;
  padding: 1em 0;
  margin-bottom: 2.6em;
}
.product-info-list li:not(.no-baseline):after {
  content: '';
  display: block;
  height: 0;
  width: 90%;
  border-top: 1px dashed rgba(0, 0, 0, 0.18);
  margin: 1px 0 10px;
}
.product-info-list label {
  min-width: 3.8em;
  font-size: 0.8em;
}
.product-info-list span, .product-info-list p {
  color: #646a6f;
}
.product-intro {
  margin-top: 3.5em;
}
.product-intro table {
  width: auto !important;
}
.product-intro .intro-title {
  font-size: 1.5em;
  text-align: center;
}
.product-intro .intro-title:after {
  content: '';
  display: block;
  height: 0;
  width: 2.5em;
  border-top: 2px solid #FFC107;
  margin: 11px auto 1.2em;
}
@media (max-width: 767px){
  .col-md-6.img-content {
    padding-right: 15px;
  }
}
