// before-card

.shipCardSeparater {
  padding-bottom: 25px;
}
// before-card-end
// card-start

.card {
  .cardbody-wrapper + div {
    padding: 0 !important;
  }

  .cardbody-wrapper:hover {
    background-color: rgba(#bebebe, 0.1);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.198)!important;
  }

  .cardbody {
    height: 71px;
    cursor: pointer;

    div.order-invoice {
      width: 25%;
      height: 70px;
      float: left;
      padding-left: 5%;
      padding-top: 15px;
    }

    div.order-content {
      width: 45%;
      height: 70px;
      float: left;
      padding-left: 5%;
      padding-top: 15px;
      text-align: left;
    }

    div.order-price {
      width: 15%;
      height: 70px;
      float: left;
      padding: 10px;
      text-align: center;
      line-height: 50px;
    }

    div.order-status {
      z-index: 5;
      width: 15%;
      height: 100%;
      float: right;
      padding: 10px;
      line-height: 50px;
      text-align: center;
      background-color: '#4990E2';
      border-bottom: 1px solid #CCCCCC;
    }
  }

  .cardbody > div > .title {
    font-size: 17px;
  }

  .cardbody > div > .sub-title {
    font-size: 12px;
    color: gray;
  }

  .cardbody > div > .main-title {
    font-size: 17px;
    font-weight: bold;
  }
  //
  //
  //
  .cardbody-expened {
    height: 90px;
    background-color: rgba(#bebebe, 0.3);
    padding-top: 5px;
    cursor: pointer;

    div.order-invoice-expened {
      width: 25%;
      height: 70px;
      float: left;
      padding-left: 20px;
      padding-top: 15px;
    }

    div.order-content {
      width: 75%;
      height: 70px;
      float: left;
      padding-left: 5%;
      padding-top: 15px;
      text-align: right;
    }

    button {
      width: 148px;
      height: 48px !important;
      border-radius: 3px !important;
      color: #fff !important;
      margin: 0 5px !important;
    }

    button.btn-shipping {
      background-color: #59A0B6 !important;
    }

    button.btn-print {
      background-color: #4A4A4A !important;
    }

    div > .title {
      font-size: 15px;
      font-weight: bold;
    }

    div > .sub-title {
      font-size: 11px;
      color: gray;
    }

    div > .main-title {
      vertical-align: middle;
    }
  }

  .card-deatil {
    border-top: 1px solid gray;
    padding-top: 20px;
    padding-left: 20px;

    p {
      margin: 15px 0;
    }

    .title {
      font-size: 18px;
    }

    .title-label {
      font-size: 12px;
      color: rgb(172, 172, 172);
    }

    .sub-title {
      font-size: 12px;
    }

    .item-list-wrapper {
      min-height: 160px;

      .item-list {
        font-size: 10px;
        color: rgb(110, 110, 110);

        .item {}
      }
    }

    .price-wrapper {
      .price {
        font-size: 15px;
        font-weight: bolder;
      }
    }

    .stepper-wrapper {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid gray;
      width: 100%;
      margin: 0 auto;

      .step-dot > svg {
        width: 48px !important;
        height: 48px !important;
      }

      .material-icons {
        font-size: 48px !important;
      }
    }
  }
}
// card-end
// animations-start

.cardlist-enter {
  opacity: 0.01;
}

.cardlist-enter.cardlist-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.cardlist-leave {
  opacity: 1;
}

.cardlist-leave.cardlist-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
// animations-end
