<h4 id="一說明與同意條款">一、說明與同意條款</h4>
<ol style="list-style-type: decimal">
<li>當會員完成萊馡文創網站（以下稱「本網站」）之會員註冊手續或開始使用本網站服務時，即表示已閱讀並同意接受本網站服務條款之所有內容。</li>
<li>萊馡文創有權於任何時間修改或變更本服務條款內容，修改後將公布本網站上，萊馡文創不再個別通知會員，建議會員隨時注意該等修改或變更。會員於任何修改或變更後繼續使用本網站服務時，視為會員已瞭解並同意接受該等修改或變更。</li>
<li>若不同意上述的條款修訂或更新，或不接受本服務條款的任一約定，會員應立即停止使用本網站服務。會員同意使用本網站服務所生權利義務，得以電子文件為作表示方式。</li>
</ol>
