<br class="xs-80">

<div class="account-wrapper">

  <div class="account-body">

    <img src="/assets/mvp/img/tcmadr_logo_2x.png" />

    <h5>歡迎來到中草藥不良反應通報系統</h5>

    <br>

    <div class="row">

      <div class="col-sm-12">
        <a href="javascript:;" class="btn btn-facebook btn-block">
        <i class="fa fa-facebook"></i>
        &nbsp;&nbsp;以Facebook帳號登入
        </a>
      </div> <!-- /.col -->

    </div> <!-- /.row -->

    <span class="account-or-social text-muted">或使用本系統帳號登入</span>

    <form class="form account-form" method="POST" action="./index.html">

      <div class="form-group">
        <label for="login-username" class="placeholder-hidden">帳號</label>
        <input type="text" class="form-control" id="login-username" placeholder="帳號" tabindex="1">
      </div> <!-- /.form-group -->

      <div class="form-group">
        <label for="login-password" class="placeholder-hidden">密碼</label>
        <input type="password" class="form-control" id="login-password" placeholder="密碼" tabindex="2">
      </div> <!-- /.form-group -->

      <div class="form-group clearfix">
        <div class="pull-left">
          <label class="checkbox-inline">
          <input type="checkbox" class="" value="" tabindex="3"> <small>記住帳號</small>
          </label>
        </div>

        <div class="pull-right">
          <small><a href="./account-forgot.html">忘記密碼？</a></small>
        </div>
      </div> <!-- /.form-group -->

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">登入 &nbsp; <i class="fa fa-play-circle"></i></button>
      </div> <!-- /.form-group -->

    </form>

  </div> <!-- /.account-body -->

  <div class="account-footer">
    <p>
    尚未擁有通報系統的帳號？ &nbsp;
    <a href="./account-signup.html" class="">建立新帳號！</a>
    </p>
  </div> <!-- /.account-footer -->

</div> <!-- /.account-wrapper -->

<% LayoutUtils.addScriptBlock(`
  $(document).ready(function(){

    $(".reg-page").validate({
      rules: {
        identifier: {
          required: true
        },
        password: {
          required: true
        },

      },
      messages: {
        identifier: {
          required: "請輸入帳號"
        },
        password:{
          required: "請輸入密碼"
        },
      }
    });

    document.referrer && $('#backUrl').val(document.referrer);

  });
`); %>

<!-- Demo JS -->
<script src="/assets/mvp/global/js/mvpready-account.js"></script>
