<br class="xs-80">

<div class="account-wrapper">

  <div class="account-body">

    <img src="/assets/mvp/img/tcmadr-logo-2x.png" />

    <h5>歡迎來到中草藥不良反應通報系統</h5>

    <br>

    <div class="row">

      <div class="col-sm-12">
        <a href="/auth/facebook" class="btn btn-facebook btn-block">
        <i class="fa fa-facebook"></i>
        &nbsp;&nbsp;以Facebook帳號登入
        </a>
      </div> <!-- /.col -->

    </div> <!-- /.row -->

    <span class="account-or-social text-muted">或使用本系統帳號登入</span>

    <form class="form account-form parsley-form" method="post" action="/auth/local?url=/" id="login-form">
      <div class="form-group">
        <label for="login-username" class="placeholder-hidden">帳號</label>
        <input type="text" class="form-control parsley-error" id="identifier" placeholder="帳號" tabindex="1" name="identifier" data-parsley-required="true" data-parsley-required-message="請填入帳號">
      </div> <!-- /.form-group -->

      <div class="form-group">
        <label for="login-password" class="placeholder-hidden">密碼</label>
        <input type="password" class="form-control" placeholder="密碼" tabindex="2" value="<%= data.user.password %>" id="password" name="password" data-parsley-required="true" data-parsley-required-message="請填入密碼">
      </div> <!-- /.form-group -->

      <!--<div class="form-group clearfix">
        <div class="pull-left">
          <label class="checkbox-inline">
          <input type="checkbox" class="" value="" tabindex="3"> <small>記住帳號</small>
          </label>
        </div>

        <div class="pull-right">
          <small><a href="./account-forgot.html">忘記密碼？</a></small>
        </div>
      </div>--> <!-- /.form-group -->

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">登入 &nbsp; <i class="fa fa-play-circle"></i></button>
      </div> <!-- /.form-group -->
      <% if (data.errors) { %>
        <div class="alert alert-warning" role="alert">帳號或密碼錯誤！</div>
      <% } %>

    </form>

  </div> <!-- /.account-body -->

  <div class="account-footer">
    <p>
    尚未擁有通報系統的帳號？ &nbsp;
    <a href="/register" class="">建立新帳號！</a>
    </p>
  </div> <!-- /.account-footer -->

</div> <!-- /.account-wrapper -->

<% LayoutUtils.addScriptBlock(`
  $(document).ready(function(){

    $('#login-form').parsley();

  });
`); %>

<!-- Demo JS -->
<!-- <script src="/assets/mvp/global/js/mvpready-account.js"></script> -->
