.footer-v1 #newRecipe > li{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .sm-margin-bottom-10 {
    margin-bottom: 10px;
  }
}

.vcenter {
  /* http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3 */
  display: inline-block;
  vertical-align: middle;
  float: none;
}
