.navbar.navbar-default.navbar-index-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  &.nav-hide {
    opacity: 0;
  }
  .header {
    background-color: transparent;
    border-color: transparent;
    .navbar-nav li{
      &:not(:nth-child(9)) {
        visibility: hidden;
      }
      a {
        color: white;
      }
    }
  }
}
.navbar.navbar-default.navbar-index {
  transition: 0.2s all ease-in-out;
  &.nav-hide {
    opacity: 0;
    transform: translateY(-45px);
  }
}
