.feature-card {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05), 0 2px 15px rgba(0, 0, 0, 0.1);
  padding: 1em 2.3em 1.3em;
  text-align: center;
  background: white;
  margin-top: -6em;
  z-index: 5;
  position: relative;
  @media screen and (max-width: 991px ){
    & {
      margin-top: 2em;
      padding: 0.5em 1em 0.8em;
    }
  }
  h1 {
    font-size: 1.8em;
    margin-bottom: 8px;
  }
  i.icon {
    display: block;
    text-align: center;
    font-size: 3em;
    margin: 0.6em 0 0.5em;
    color: #94795b;
  }
}
