@import "../../assets/unify/css/pages/page_log_reg_v1.css";
.login-block {
  .social-login {
    margin-bottom: 70px;
    border-bottom: 1px solid #eee;
    position: relative;
    .or {
      position: relative;
      border: 1px solid #eee;
      width: 70px;
      height: 70px;
      top: 35px;
      left: 50%;
      margin-left: -35px;
      text-transform: uppercase;
      color: #333;
      background: #fff;
      line-height: 70px;
      padding: 0 24px;
      z-index: 1;
    }
    .rounded-x {
      border-radius: 50% !important;
    }
  }
  .input-group label.error {
    position: absolute;
    bottom: -2em;
    width: 100%;
    left: 0;
    color: red;
  }
}
