.cover-photo {
  min-height: 150px;
}

.drops,
.scent {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.scent {
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: white;
}

.shareSticker {
  max-width: 360px;
  padding-top: 10px;
}

.rrssb-buttons a {
  -webkit-filter: saturate(0.5);
  -moz-filter: saturate(0.5);
  -ms-filter: saturate(0.5);
  -o-filter: saturate(0.5);
  filter: saturate(0.5);
  &:hover {
    -webkit-filter: saturate(1);
    -moz-filter: saturate(1);
    -ms-filter: saturate(1);
    -o-filter: saturate(1);
    filter: saturate(1);
  }
}

.panel-heading {
  padding-right: 0 !important;
}
