<div class="container">

  <div class="portlet portlet-boxed">

    <div class="portlet-header">
      <h4 class="portlet-title">
        通報案件統計
      </h4>
    </div> <!-- /.portlet-header -->

    <div class="portlet-body">

      <div class="row">

        <div class="col-sm-6 col-md-3">
          <div class="row-stat">
            <p class="row-stat-label">本年度通報案件</p>
            <h3 class="row-stat-value">890件</h3>
            <span class="label label-success row-stat-badge">+43%</span>
          </div> <!-- /.row-stat -->
        </div> <!-- /.col -->

        <div class="col-sm-6 col-md-3">
          <div class="row-stat">
            <p class="row-stat-label">本月通報案件</p>
            <h3 class="row-stat-value">80件</h3>
            <span class="label label-success row-stat-badge">+17%</span>
          </div> <!-- /.row-stat -->
        </div> <!-- /.col -->

        <div class="col-sm-6 col-md-3">
          <div class="row-stat">
            <p class="row-stat-label">本年度完成評估案件</p>
            <h3 class="row-stat-value">800件</h3>
            <span class="label label-success row-stat-badge">+26%</span>
          </div> <!-- /.row-stat -->
        </div> <!-- /.col -->

        <div class="col-sm-6 col-md-3">
          <div class="row-stat">
            <p class="row-stat-label">通報系統使用人數</p>
            <h3 class="row-stat-value">150人</h3>
            <span class="label label-danger row-stat-badge">+5%</span>
          </div> <!-- /.row-stat -->
        </div> <!-- /.col -->

      </div> <!-- /.row -->

    </div> <!-- /.portlet-body -->

  </div> <!-- /.portlet -->



  <div class="row">

    <div class="col-md-8">

      <div class="portlet portlet-boxed">

        <div class="portlet-header">
          <h4 class="portlet-title">
            每月通報案件
          </h4>
        </div> <!-- /.portlet-header -->

        <div class="portlet-body">

          <div class="chart-bg bg-secondary">
            <div id="reports-line-chart" class="chart-holder-250"></div>
          </div> <!-- /.bg-chart -->

          <br>

      </div> <!-- /.portlet-body -->

    </div> <!-- /.portlet -->

    </div> <!-- /.col -->

    <div class="col-md-4">

      <div class="portlet portlet-boxed">

        <div class="portlet-header">
          <h4 class="portlet-title">
            通報項目
          </h4>
        </div> <!-- /.portlet-header -->

        <div class="portlet-body">

          <div id="donut-chart" class="chart-holder" style="width: 70%;"></div>

        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->

    </div> <!-- /.col -->

  </div> <!-- /.row -->

</div> <!-- /.container -->
