<fieldset>

  <section>
    <label class="label">名稱</label>
    <label class="input state-disabled"></label>
      <input type="text" name="name" placeholder="名稱" v-model="data.item.name" disabled>
      <b class="tooltip tooltip-bottom-right">名稱</b></label>
  </section>

  <section>
    <label class="label">描述</label>
    <label class="input state-disabled">
      <input type="text" name="description" placeholder="描述" v-model="data.item.description" disabled>
      <b class="tooltip tooltip-bottom-right">描述</b></label>
  </section>

  <section>
    <label class="label">標籤</label>
    <label class="input state-disabled">
      <input type="text" name="tag" placeholder="標籤" v-model="data.item.tag" disabled>
      <b class="tooltip tooltip-bottom-right">標籤</b></label>
  </section>

  <section>
    <label class="label">meta 標題</label>
    <label class="input state-disabled">
      <input type="text" name="metaTitle" placeholder="meta 標題" v-model="data.item.metaTitle" disabled>
      <b class="tooltip tooltip-bottom-right">meta 標題</b></label>
  </section>

  <section>
    <label class="label">meta 描述</label>
    <label class="input state-disabled">
      <input type="text" name="metaDescription" placeholder="meta 描述" v-model="data.item.metaDescription" disabled>
      <b class="tooltip tooltip-bottom-right">meta 描述</b></label>
  </section>

  <section>
    <label class="label">meta 關鍵字</label>
    <label class="input state-disabled">
      <input type="text" name="metaKeyword" placeholder="meta 關鍵字" v-model="data.item.metaKeyword" disabled>
      <b class="tooltip tooltip-bottom-right">meta 關鍵字</b></label>
  </section>


</fieldset>
<script>
var formRules = {
  name: {
    required: true
  },
  description: {
    required: true
  },
  // tag: {
  //   required: true
  // },
  // metaTitle: {
  //   required: true
  // },
  // metaDescription: {
  //   required: true
  // },
  // metaKeyword: {
  //   required: true
  // },
}

// Messages for form validation
var formMessages = {
  name: {
    required: '請給予名稱'
  },
  description: {
    required: '請給予描述'
  },
}
</script>
