.b2b-breadcrumbs {
  background: #f3f3f3;
  box-shadow: 0 -1px 15px -2px rgba(0, 0, 0, 0.06) inset;
  margin-top: -22px;
  h1 {
    color: #c3c3c3;
    margin: 1.5em 0 0.8em;
  }
}
.b2b-order-form {
  max-width: 960px;
  .info-icon {
    font-size: 8em;
    color: #9a9a9a;
    display: block;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 50%;
    margin: 2px auto;
    padding-right: 20px
    @media (max-width: 767px) {
      display: none;
    }
  }
  .form-group {
    margin-bottom: 18px;
    label {
      font-weight: 300;
      color: #505050;
      margin-bottom: 8px;
    }
    input {
      box-shadow: none;
      border-radius: 2px;
    }
  }
  .b2b-bill-info {
    td {
      text-align: right;
      &:first-child {
        padding: 0 75px 0 0;
      }
    }
  }
}
