.b2b-sec-nav {
  padding: 0 6px;
  margin: 0;
  white-space: nowrap;
  width: 100%;
  overflow: auto;
  background: #f8f8f8;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
  display: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  &::scrollbar {
    width: 0;
    height: 0;
    overflow: hidden;
  }
  li {
    display: inline-block;
    a {
      display: block;
      padding: 9px;
      color: #5d5d5d;
      text-decoration: none !important;
      &.active {
        border-bottom: 3px solid gray;
      }
    }
  }
}
@media (max-width: 1074px) {
  .b2b-navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
  }
  .b2b-sec-nav {
    display: block;
  }
}
