<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="feature-card">
      <i class="icon-paper-plane icon"></i>
      <h1>notifications</h1>
      <p>
        Save time with instant host notifications that alert employees when their visitors arrive.
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="feature-card">
      <i class="icon-paper-plane icon"></i>
      <h1>notifications</h1>
      <p>
        Save time with instant host notifications that alert employees when their visitors arrive.
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="feature-card">
      <i class="icon-paper-plane icon"></i>
      <h1>notifications</h1>
      <p>
        Save time with instant host notifications that alert employees when their visitors arrive.
      </p>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="feature-card">
      <i class="icon-paper-plane icon"></i>
      <h1>notifications</h1>
      <p>
        Save time with instant host notifications that alert employees when their visitors arrive.
      </p>
    </div>
  </div>
</div>

<% LayoutUtils.addScriptBlock(`
`); %>
