.web-footer{
  background: #f9f8f6;
  padding: 15px;
  text-align: center;
}
.web-footer span, .web-footer a{
  margin: 0 2em;
  color: #33363c;
}
.web-footer .sponser a{
  margin: 0;
  color: #196dc5;
  display: inline !important;
}
.web-footer copyright{
  margin-top: 5px;
}
.web-footer copyright, .web-footer .sponser{
  color: rgba(0, 0, 0, 0.49);
  display: block;
}
@media (max-width: 767px){
  .web-footer span, .web-footer a{
    display: block;
    margin: 3px;
  }
}
