.side-menu {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: rgb(30,87,153); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  box-shadow: 1px 1px 2px rgba(0,0,0,.5);
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 3.5em;
}

.side-menu h3 {
  margin-top: 0;
  text-align: right;
  color: #fff;
  font-size: 22px;
  text-shadow: 0 0 2px rgba(0,0,0,.8);
}

.side-menu small {
  display: block;
  color: #78abcf;
  text-shadow: none;
}

.side-menu .list-group {
  margin-bottom: 0;
}

.side-menu .list-group-item {
  background-color: rgba(255,255,255,.85);
}

.side-menu a.list-group-item {
  color: #333;
}

.side-menu a.list-group-item:hover {
  color:  #000;
}
