.side-menu ul li {
  list-style: none;
  margin-bottom: 5px;
}
.side-menu ul h3 small {
  float: right;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-right: 13px;
  line-height: 36px;
}
.side-menu .list-group-item {
  height: 36px;
  padding: 0;
  line-height: 36px;
  font-size: 13px;
  color: rgba(74, 74, 74, 1);
}
.side-menu .list-group-item-title {
  margin-top: 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(rgba(0, 78, 159, 1) 0%, rgba(30, 66, 107, 1) 100%);
}
.side-menu .list-group-item:before {
  content: '';
  width: 4px;
  height: 4px;
  background: rgba(22, 53, 90, 1);
  display: block;
  float: left;
  margin: 16px 10.5px 0 13px;
}
.side-menu .list-group-item-title:before {
  content: '+';
  display: inline;
  float: none;
  background: transparent;
  line-height: 37px;
  margin: 0 2px 0 11px;
}
