.side-menu {
  padding-right: 2.5em;
  margin-top: -2px;
  margin-bottom: 2em;
}
@media (max-width: 991px) {
  .side-menu {
    padding-right: 0;
    margin-top: 0;
  }
}
.side-menu ul li {
  list-style: none;
  margin-bottom: 5px;
}
.side-menu ul h3 small {
  float: right;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-right: 13px;
  line-height: 36px;
}
.side-menu .list-group:after {
  content: '';
  display: block;
  background-color: rgba(209, 209, 209, 1);
  height: 5px;
  width: 100%;
  border-radius: 3px;
  margin-top: 5px;
}
.side-menu .list-group-item {
  height: 36px;
  padding: 0;
  line-height: 36px;
  font-size: 13px;
  color: rgba(74, 74, 74, 1);
}
.side-menu .list-group-item:hover {
  background-color: rgba(247, 247, 247, 0.8);
}
.side-menu .list-group-item:not(.list-group-item-title):hover:before {
  background: rgba(42, 161, 223, 1);
}
.side-menu .list-group-item.active {
  background-color: rgba(247, 247, 247, 0.8);
}
.side-menu .list-group-item.active:before {
  background: rgba(42, 161, 223, 1);
}
.side-menu .list-group-item-title {
  margin-top: 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  background-image: linear-gradient(rgba(0, 78, 159, 1) 0%, rgba(30, 66, 107, 1) 100%);
}
.side-menu .list-group-item:before {
  content: '';
  width: 4px;
  height: 4px;
  background: rgba(22, 53, 90, 1);
  display: block;
  float: left;
  margin: 16px 12px 0 17px;
}
.side-menu .list-group-item-title {
  height: 39px;
}
.side-menu .list-group-item-title:before {
  content: '+';
  display: inline;
  float: none;
  background: transparent;
  line-height: 37px;
  margin: 0 6px 0 15px;
}
