<fieldset>

  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">model</label>
      <label class="input state-disabled">
        <input type="text" name="model" placeholder="" v-model="data.item.model" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入model</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-6">
      <label class="label">sku</label>
      <label class="input state-disabled">
        <input type="text" name="sku" placeholder="" v-model="data.item.sku" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入sku</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">upc</label>
      <label class="input state-disabled">
        <input type="text" name="upc" placeholder="" v-model="data.item.upc" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入upc</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">ean</label>
      <label class="input state-disabled">
        <input type="text" name="ean" placeholder="" v-model="data.item.ean" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入ean</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">jan</label>
      <label class="input state-disabled">
        <input type="text" name="ean" placeholder="" v-model="data.item.jan" disabled>
        <b class="tooltip tooltip-bottom-right">jan</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">mpn</label>
      <label class="input state-disabled">
        <input type="text" name="mpn" placeholder="" v-model="data.item.mpn" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入mpn</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">isbn</label>
      <label class="input state-disabled">
        <input type="text" name="isbn" placeholder="" v-model="data.item.isbn" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入isbn</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">location</label>
      <label class="input state-disabled">
        <input type="text" name="location" placeholder="" v-model="data.item.location" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入location</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">quantity</label>
      <label class="input state-disabled">
        <input type="number" name="quantity" placeholder="" v-model="data.item.quantity" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入quantity</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">image</label>
      <label class="input state-disabled">
        <input type="text" name="image" placeholder="" v-model="data.item.image" disabled>
        <b class="tooltip tooltip-bottom-right">image</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">ImageId</label>
      <label class="input state-disabled">
        <input type="text" name="image" placeholder="" v-model="data.item.ImageId" disabled>
        <b class="tooltip tooltip-bottom-right">ImageId</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">dataAvailable</label>
      <label class="input state-disabled">
        <input type="date" name="dataAvailable" placeholder="" v-model="data.item.dataAvailable" disabled>
        <b class="tooltip tooltip-bottom-right">dataAvailable</b></label>
      </label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">shipping</label>
      <label class="input state-disabled">
        <input type="text" name="shipping" placeholder="" v-model="data.item.shipping" disabled>
        <b class="tooltip tooltip-bottom-right">shipping</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">price</label>
      <label class="input state-disabled">
        <input type="number" name="price" placeholder="" v-model="data.item.price" disabled>
        <b class="tooltip tooltip-bottom-right">price</b></label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">point</label>
      <label class="input state-disabled">
        <input type="text" name="point" placeholder="" v-model="data.item.point" disabled>
        <b class="tooltip tooltip-bottom-right">point</b></label>
      </label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="label">weight</label>
      <label class="input state-disabled">
        <input type="number" name="weight" placeholder="" v-model="data.item.weight" disabled>
        <b class="tooltip tooltip-bottom-right">weight</b></label>
      </label>
    </section>
    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="label">length</label>
      <label class="input state-disabled">
        <input type="number" name="length" placeholder="" v-model="data.item.length" disabled>
        <b class="tooltip tooltip-bottom-right">length</b></label>
      </label>
    </section>
    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="label">width</label>
      <label class="input state-disabled">
        <input type="number" name="width" placeholder="" v-model="data.item.width" disabled>
        <b class="tooltip tooltip-bottom-right">width</b></label>
      </label>
    </section>
    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="label">height</label>
      <label class="input state-disabled">
        <input type="number" name="height" placeholder="" v-model="data.item.height" disabled>
        <b class="tooltip tooltip-bottom-right">height</b></label>
      </label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="label">subtract</label>
      <label class="input state-disabled">
        <input type="text" name="subtract" placeholder="" v-model="data.item.subtract" disabled>
        <b class="tooltip tooltip-bottom-right">subtract</b></label>
      </label>
    </section>
    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="label">minimum</label>
      <label class="input state-disabled">
        <input type="number" name="minimum" placeholder="" v-model="data.item.minimum" disabled>
        <b class="tooltip tooltip-bottom-right">minimum</b></label>
      </label>
    </section>
    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="label">sortOrder</label>
      <label class="input state-disabled">
        <input type="number" name="sortOrder" placeholder="" v-model="data.item.sortOrder" disabled>
        <b class="tooltip tooltip-bottom-right">sortOrder</b></label>
      </label>
    </section>
    <section class="col col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <label class="label">publish</label>
      <label class="input state-disabled">
        <input type="text" name="publish" placeholder="" v-model="data.item.publish" disabled>
        <b class="tooltip tooltip-bottom-right">publish</b></label>
      </label>
    </section>
  </div>

  <div class="row notForCreate">
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">viewed</label>
      <label class="input state-disabled">
        <input type="text" name="viewed" placeholder="" v-model="data.item.viewed" disabled>
        <b class="tooltip tooltip-bottom-right">viewed</b></label>
      </label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">createdAt</label>
      <label class="input state-disabled">
        <input type="text" name="createdAt" placeholder="" v-model="data.item.createdAt" disabled>
        <b class="tooltip tooltip-bottom-right">createdAt</b></label>
      </label>
    </section>
    <section class="col col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <label class="label">updatedAt</label>
      <label class="input state-disabled">
        <input type="text" name="updatedAt" placeholder="" v-model="data.item.updatedAt" disabled>
        <b class="tooltip tooltip-bottom-right">updatedAt</b></label>
      </label>
    </section>
  </div>

</fieldset>
<script>
var model = {
}

// Messages for form validation
var formMessages = {
}
</script>
