<% LayoutUtils.addMeta({ property:"og:image", content:SocialService.getShareUrl() + "/assets/tcmadr/img/logo.png" }); %>
<% LayoutUtils.addMeta({ property:"og:image:url", content:SocialService.getShareUrl() + "/assets/tcmadr/img/logo.png"  }); %>
<% LayoutUtils.addMeta({ property:"og:image:type", content:"image/jpeg" }); %>
<% LayoutUtils.addMeta({ property:"og:image:width", content:"1200" }); %>
<% LayoutUtils.addMeta({ property:"og:image:height", content:"630" }); %>
<% LayoutUtils.addMeta({ property:"og:title", content:"CargoCMS" }); %>
<% LayoutUtils.addMeta({ property:"og:description", content:"CargoCMS" }); %>
<% LayoutUtils.addMeta({ property:"og:type", content:"website" }); %>

<% LayoutUtils.addStylesheets('/assets/jason/page/index/index.css'); %>
<% LayoutUtils.addStylesheets('/assets/jason/page/product/product.css'); %>

<div class="container body">

<% include ../../partials/banner.ejs %>

  <div class="row">
    <div class="col-md-9 col-md-push-3 content">

      <article>
        <header class="article-title">
          <h1 id="intro">產品介紹</h2>
        </header>

        <div class="product row">
          <div class="col-xs-3 product-img-wrapper">
            <img class="img-thumbnail" src="http://www.autodoor.twmail.net/webadmin/goods/file/HC-168-1.jpg" alt="產品圖" />
          </div>
          <div class="col-xs-9 product-content">
            <h1>產品</h1>
            <small>HC-168-1</small>
            <p>
              產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹產品介紹
            </p>
          </div>
        </div>

      </article>
    </div>

    <div class="col-md-3 col-md-pull-9" style="padding-right:2.5em;">
      <div class="side-menu" id="sticker">
        <h3>
          產品介紹
          <small>About Us</small>
        </h3>
        <div class="list-group">
          <% for(let group of productGroups) { %>
            <a href="#" class="list-group-item"><%= group.title %></a>
          <% } %>
        </div>
      </div>
    </div>
  </div>

</div>

<% include ../pageScript.ejs %>
