<fieldset>

  <h3 class="text-center">產品介紹<h3>
  <hr style="border: 1px solid #a9a9a9;"/>
  <br/>
  <div class="row">
    <section class="col col-lg-6 col-xs-6 col-xs-6">
      <label class="label">名稱</label>
      <label class="input state-disabled">
        <input type="text" name="title" placeholder="產品名稱" v-model="data.item.title" v-on:change="titleOnChange" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入產品名稱</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6 col-xs-6">
      <label class="label">模組名稱</label>
      <label class="input state-disabled">
        <input type="text" name="modelName" placeholder="模組名稱" v-model="data.item.modelName" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入模組名稱</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6 col-xs-6">
      <label class="label">規格</label>
      <label class="input state-disabled">
        <input type="text" name="specification" placeholder="詳細規格" v-model="data.item.specification" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入規格</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6 col-xs-6">
      <label class="label">說明</label>
      <label class="input state-disabled">
        <input type="text" name="introduction" placeholder="詳細說明" v-model="data.item.introduction" disabled>
        <b class="tooltip tooltip-bottom-right">請輸入說明</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-6 col-xs-6 col-xs-6">
      <label class="label">類別</label>
      <label class="select">
        <select class="state-disabled" name="groupId" v-model="data.item.groupId" disabled>
          <option value="0"></option>
          <option v-for="groupPart in data.option.group" v-bind:value="groupPart.id">
            {{ groupPart.title }}
          </option>
        </select><i></i> </label>
    </section>
  </div>

  <br/>
  <h3 class="text-center">產品內容<h3>
  <hr style="border: 1px solid #a9a9a9;"/>
  <br/>

  <div class="row">
    <!--<section class="col col-lg-6 col-xs-6 col-xs-6">
      <label class="label">封面類型</label>
      <label class="select">
        <select class="state-disabled" v-model="data.item.postCoverType" v-on:change="selectOnChange" disabled>
          <option value="img" selected>圖片</option>
          <option value="video">影片</option>
        </select> <i></i> </label>
    </section>-->


  <!--  <section class="col col-lg-6 col-xs-6 col-xs-6" v-show="data.item.postCoverType === 'img'">-->
    <section  class="col col-lg-12 col-xs-12 col-xs-12">
      <label class="label">圖片</label>
      <div class="row">
        <section  class="col col-lg-3 col-xs-4 col-xs-6" v-for="src in data.item.postCoverUrl">
          <img src="{{src}}" alt="" class="img-responsive">
          <div class="air air-bottom-right" style="padding-right: 20px; padding-bottom: 5px;">
            <input type="button" value="刪除" v-on:click="onImageDelete($index)" class="btn btn-danger state-disabled" disabled></input>
          </div>
        </section>
      </div>
      <%- include ../../image/upload.ejs %>
    </section>
    <!--<section class="col col-lg-6 col-xs-6 col-xs-6" v-show="data.item.postCoverType === 'video'">
      <label class="label">封面影片</label>
      <label class="input">
        <input type="text" name="postCoverUrl" placeholder="請輸入影片連結" v-model="data.item.postCoverUrl">
      </label>
    </section>-->
  </div>

  <section v-show='false'>
    <label class="label">標題</label>
    <label class="input state-disabled">
      <input type="text" name="postTitle" placeholder="請輸入標題" v-model="data.item.postTitle" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入標題</b> </label>
  </section>

  <!--<section>
    <label class="label">簡述</label>
    <label class="textarea state-disabled">
      <textarea rows="5" name="postAbstract" placeholder="請輸入 100 字以內的簡短的描述" v-model="data.item.postAbstract" disabled></textarea>
      <b class="tooltip tooltip-bottom-right">請輸入 100 字以內的簡短的描述</b> </label>
  </section>-->

  <section>
    <label class="label">內容</label>
      <label class="textarea state-disabled">
        <textarea rows="5" name="postContent" placeholder="請輸入 內容" v-model="data.item.postContent" disabled></textarea>
        <b class="tooltip tooltip-bottom-right">請輸入 內容</b> </label>
  </section>

  <!--<section>
    <label class="label">標籤</label>
    <input id="tagsinput" value="" data-role="tagsInputLabel">
  </section>-->

</fieldset>
<script>
var formRules = {
  title: {
    required: true
  },
  groupId: {
    required: true
  }
  // modelName: {
  //   required: true
  // },
  // specification: {
  //   required: true
  // },
  // introduction: {
  //   required: true
  // },
}

// Messages for form validation
var formMessages = {
  title: {
    required: "請輸入名稱"
  },
  groupId: {
    required: "請選擇類別"
  }
  // modelName: {
  //   required: "請輸入模組名稱"
  // },
  // specification: {
  //   required: "請輸入規格"
  // },
  // introduction: {
  //   required: "請輸入說明"
  // },
}
</script>
