<fieldset>

  
    <section>
      <label class="label">ID</label>
      <label class="input state-disabled">
      <input type="text" name="id" placeholder="" v-model="data.item.id" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入ID</b></label>
    </section>
  
    <section>
      <label class="label">sort_order</label>
      <label class="input state-disabled">
      <input type="text" name="sort_order" placeholder="" v-model="data.item.sort_order" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入sort_order</b></label>
    </section>
  
    <section>
      <label class="label">layout_id</label>
      <label class="input state-disabled">
      <input type="text" name="layout_id" placeholder="" v-model="data.item.layout_id" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入layout_id</b></label>
    </section>
  
    <section>
      <label class="label">module_id</label>
      <label class="input state-disabled">
      <input type="text" name="module_id" placeholder="" v-model="data.item.module_id" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入module_id</b></label>
    </section>
  
    <section>
      <label class="label">position_id</label>
      <label class="input state-disabled">
      <input type="text" name="position_id" placeholder="" v-model="data.item.position_id" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入position_id</b></label>
    </section>
  

</fieldset>
<script>
var formRules = {}
var formMessages = {}
</script>
