<div class="container">

  <!-- <div class="page-header">
    <h3 class="page-title">我要通報</h3>

    <ol class="breadcrumb">
      <li><a href="./">通報首頁</a></li>
      <li class="active">我要通報</li>
    </ol>
  </div>-->
  <!-- /.page-header -->

  <div class="row">
    <!-- 通報者資料 -->
    <div class="col-md-6">
      <div class="portlet portlet-boxed">

        <div class="portlet-header">
          <h4 class="portlet-title">
          通報者資料
        </h4>
        </div>
        <!-- /.portlet-header -->

        <div class="portlet-body">
          <div class="col-md-6">
            <h6>姓名：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="姓名">
          </div>
          <div class="col-md-6">
            <h6>電話：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="電話">
          </div>
          <div class="col-md-6 titleFix">
            <h6>服務機構：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="服務機構">
          </div>
          <div class="col-md-6 titleFix">
            <h6>E-mail：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="E-mail">
          </div>
          <div class="col-md-6 titleFix">
            <h6>縣市：<span class="required">*</span></h6>
            <select name="select" class="form-control">
              <option value="opt2">台北市</option>
            </select>
          </div>
          <div class="col-md-6 titleFix">
            <h6>鄉鎮市區：<span class="required">*</span></h6>
            <select name="select" class="form-control">
              <option value="opt2">松山區</option>
              <option value="opt3">大安區</option>
              <option value="opt4">古亭區</option>
            </select>
          </div>
          <div class="col-md-12 titleFix">
            <h6>地址：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="地址">
          </div>
          <div class="col-md-12 titleFix">
            <h6>通報者身份：<span class="required">*</span></h6>
            <div class="form-group demo-icheck">
              <div class="radio">
                <label>
                  <input type="radio" name="radio-set-1" value="" checked>
                  醫療人員
                </label>
              </div>

              <div class="col-md-8">
                <select name="select" class="form-control">
                    <option value="opt1">醫師</option>
                    <option value="opt2">藥師</option>
                    <option value="opt3">護理人員</option>
                    <option value="opt4">其它</option>
                </select>
              </div> <!-- /.col -->
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="其它">
              </div>

              <div class="radio">
                <label>
                  <input type="radio" name="radio-set-2" value="">
                  廠商
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="radio-set-3" value="">
                  民眾
                </label>
              </div>
            </div>

          </div>



                  <input type="text" class="form-control" placeholder="廠商名稱">
                  <label class="radio-inline">
                <input type="radio" name="radio-set-2" value=""> 其他
              </label>
                  <input type="text" class="form-control" placeholder="其他">
              </div>
              <!-- form-group -->
        </>
        <!-- /.portlet-body -->

      </div>
      <!-- /.portlet -->
    </div>
    <!-- /. col -->

    <div class="col-md-6">
      <div class="portlet portlet-boxed">
        <div class="portlet-header">
          <h4 class="portlet-title">
            通報日期
          </h4>
        </div>
        <div class="portlet-body">
          <div class="form-group">
            <h6>案件通報日期：<span class="required">*</span></h6>

            <div class="col-md-4">
              <select name="select" class="form-control">
                    <option value="opt1">西元年</option>
                    <option value="opt2">2016</option>
                    <option value="opt3">2017</option>
                    <option value="opt4">2018</option>
                    <option value="opt5">2019</option>
                    <option value="opt6">2020</option>
                    <option value="opt7">2021</option>
                    <option value="opt8">2022</option>
                </select>
            </div>
            <div class="col-md-4">
              <select name="select" class="form-control">
                    <option value="opt1">月份</option>
                    <option value="opt2">01月</option>
                    <option value="opt3">02月</option>
                    <option value="opt4">03月</option>
                    <option value="opt5">04月</option>
                    <option value="opt6">05月</option>
                    <option value="opt7">06月</option>
                    <option value="opt8">07月</option>
                    <option value="opt8">08月</option>
                    <option value="opt8">09月</option>
                    <option value="opt8">10月</option>
                    <option value="opt8">11月</option>
                    <option value="opt8">12月</option>
                </select>
            </div>
            <div class="col-md-4">
              <select name="select" class="form-control">
                    <option value="opt1">日期</option>
                    <option value="opt2">01</option>
                    <option value="opt3">02</option>
                    <option value="opt4">03</option>
                    <option value="opt5">04</option>
                    <option value="opt6">05</option>
                    <option value="opt7">06</option>
                    <option value="opt8">07</option>
                </select>
            </div>

          </div>
          <!-- form group -->

          <div class="form-group">
            <h6>案件發生日期：<span class="required">*</span></h6>

            <div class="col-md-4">
              <select name="select" class="form-control">
                    <option value="opt1">西元年</option>
                    <option value="opt2">2016</option>
                    <option value="opt3">2017</option>
                    <option value="opt4">2018</option>
                    <option value="opt5">2019</option>
                    <option value="opt6">2020</option>
                    <option value="opt7">2021</option>
                    <option value="opt8">2022</option>
                </select>
            </div>
            <div class="col-md-4">
              <select name="select" class="form-control">
                <option value="opt1">月份</option>
                <option value="opt2">01月</option>
                <option value="opt3">02月</option>
                <option value="opt4">03月</option>
                <option value="opt5">04月</option>
                <option value="opt6">05月</option>
                <option value="opt7">06月</option>
                <option value="opt8">07月</option>
                <option value="opt8">08月</option>
                <option value="opt8">09月</option>
                <option value="opt8">10月</option>
                <option value="opt8">11月</option>
                <option value="opt8">12月</option>
              </select>
            </div>
            <div class="col-md-4">
              <select name="select" class="form-control">
                    <option value="opt1">日期</option>
                    <option value="opt2">01</option>
                    <option value="opt3">02</option>
                    <option value="opt4">03</option>
                    <option value="opt5">04</option>
                    <option value="opt6">05</option>
                    <option value="opt7">06</option>
                    <option value="opt8">07</option>
                </select>
            </div>
          </div>
          <!-- form group -->

          <div class="form-group">
            <h6>通報者獲知日期：<span class="required">*</span></h6>

            <div class="col-md-4">
              <select name="select" class="form-control">
                    <option value="opt1">西元年</option>
                    <option value="opt2">2016</option>
                    <option value="opt3">2017</option>
                    <option value="opt4">2018</option>
                    <option value="opt5">2019</option>
                    <option value="opt6">2020</option>
                    <option value="opt7">2021</option>
                    <option value="opt8">2022</option>
                </select>
            </div>
            <div class="col-md-4">
              <select name="select" class="form-control">
                <option value="opt1">月份</option>
                <option value="opt2">01月</option>
                <option value="opt3">02月</option>
                <option value="opt4">03月</option>
                <option value="opt5">04月</option>
                <option value="opt6">05月</option>
                <option value="opt7">06月</option>
                <option value="opt8">07月</option>
                <option value="opt8">08月</option>
                <option value="opt8">09月</option>
                <option value="opt8">10月</option>
                <option value="opt8">11月</option>
                <option value="opt8">12月</option>
              </select>
            </div>
            <div class="col-md-4">
              <select name="select" class="form-control">
                    <option value="opt1">日期</option>
                    <option value="opt2">01</option>
                    <option value="opt3">02</option>
                    <option value="opt4">03</option>
                    <option value="opt5">04</option>
                    <option value="opt6">05</option>
                    <option value="opt7">06</option>
                    <option value="opt8">07</option>
                </select>
            </div>
          </div>
          <!-- form group -->

        </div>
        <!-- portlet body-->
      </div>
    </div>
  </div>
  <!-- row -->

  <div class="row">

    <div class="col-md-6">
      <div class="portlet portlet-boxed">

        <div class="portlet-header">
          <h4 class="portlet-title">
          通報來源
        </h4>
        </div>
        <!-- /.portlet-header -->

        <div class="portlet-body">

          <div class="col-md-12">

            <div class="form-group demo-icheck">

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="checkbox-set-1" value="">
                  由醫療人員轉知
                </label>
              </div>

              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="">醫師
              </label>

              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="">藥師
              </label>

              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="">護理人員
              </label>

              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="">其它
              </label>
              <input type="text" class="form-control" placeholder="其他">


              <div class="checkbox">
                <label>
                  <input type="checkbox" name="checkbox-set-1" value="">
                  由政府機構得知
                </label>
                <input type="text" class="form-control" placeholder="Basic input">
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="checkbox-set-1" value="">
                  廠商
                </label>
                <input type="text" class="form-control" placeholder="公司名稱">
                <input type="text" class="form-control" placeholder="電話">
                <input type="text" class="form-control" placeholder="電子郵件信箱">
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="checkbox-set-1" value="">
                  民眾告知
                </label>
                <input type="text" class="form-control" placeholder="姓名">
                <input type="text" class="form-control" placeholder="電話">
                <input type="text" class="form-control" placeholder="電子郵件信箱">
              </div>

            </div>
            <!-- /.form-group -->

          </div>
          <!-- /.col -->

        </div>
        <!-- /.portlet-body -->

      </div>
      <!-- /.portlet -->
    </div>
    <!-- /. col -->

  </div>
  <!-- row -->

</div>
<!-- /.container -->
