<div class="container">

  <!-- <div class="page-header">
    <h3 class="page-title">我要通報</h3>

    <ol class="breadcrumb">
      <li><a href="./">通報首頁</a></li>
      <li class="active">我要通報</li>
    </ol>
  </div>-->
  <!-- /.page-header -->

  <div class="row">
    <div class="col-md-12">
      <div class="portlet portlet-boxed">
        <div class="portlet-header">
          <h4 class="portlet-title">
            病人基本資料
          </h4>
        </div>
        <div class="portlet-body">
          <div class="form-group">
            <label class="control-label col-md-2">識別代號:</label>

            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Basic input">
            </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label class="control-label col-md-2">性別：</label>

            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Basic input">
            </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label class="control-label col-md-2">身高：</label>

            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Basic input">
            </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label class="control-label col-md-2">體重：</label>

            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Basic input">
            </div> <!-- /.col -->
          </div> <!-- /.form-group -->

          <div class="form-group">
            <label class="control-label col-md-2">出生日期：</label>

            <div class="col-md-10">
              <input type="text" class="form-control" placeholder="Basic input">
            </div> <!-- /.col -->
          </div> <!-- /.form-group -->

        </div>
        <!-- portlet body-->
      </div>
    </div>
  </div>
  <!-- row -->
  <div class="row">
    <div class="col-md-6">
      <div class="portlet portlet-boxed">

        <div class="portlet-header">
          <h4 class="portlet-title">
          通報者資料
        </h4>
        </div>
        <!-- /.portlet-header -->

        <div class="portlet-body">

          <div class="col-md-6">
            <h6>姓名：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-6">
            <h6>電話：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-6">
            <h6>服務機構：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-6">
            <h6>E-mail：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-12">
            <h6>地址：<span class="required">*</span></h6>
            <div class="col-md-6">
              <select name="select" class="form-control">
                    <option value="opt1">縣市</option>
                    <option value="opt2">台北市</option>
                </select>
            </div>
            <div class="col-md-6">
              <select name="select" class="form-control">
                    <option value="opt1">鄉鎮市區</option>
                    <option value="opt2">松山區</option>
                    <option value="opt3">大安區</option>
                    <option value="opt4">古亭區</option>
                </select>
            </div>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-12">
            <h6>通報者身份：<span class="required">*</span></h6>
            <div class="form-group demo-icheck">
              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="" checked>醫師
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="">藥師
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="">護理人員
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value=""> 民眾
              </label>
              <div class="row">
                <div class="col-md-3">
                  <label class="radio-inline">
                <input type="radio" name="radio-set-2" value=""> 廠商
              </label>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="廠商名稱">
                </div>
                <div class="col-md-3">
                  <label class="radio-inline">
                <input type="radio" name="radio-set-2" value=""> 其他
              </label>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="其他">
                </div>
              </div>
            </div>
          </div>
          <!-- col -->
        </div>
        <!-- /.portlet-body -->

      </div>
      <!-- /.portlet -->
    </div>
    <!-- /. col -->

    <div class="col-md-6">
      <div class="portlet portlet-boxed">

        <div class="portlet-header">
          <h4 class="portlet-title">
          通報者資料
        </h4>
        </div>
        <!-- /.portlet-header -->

        <div class="portlet-body">

          <div class="col-md-6">
            <h6>姓名：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-6">
            <h6>電話：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-6">
            <h6>服務機構：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-6">
            <h6>E-mail：<span class="required">*</span></h6>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-12">
            <h6>地址：<span class="required">*</span></h6>
            <div class="col-md-6">
              <select name="select" class="form-control">
                    <option value="opt1">縣市</option>
                    <option value="opt2">台北市</option>
                </select>
            </div>
            <div class="col-md-6">
              <select name="select" class="form-control">
                    <option value="opt1">鄉鎮市區</option>
                    <option value="opt2">松山區</option>
                    <option value="opt3">大安區</option>
                    <option value="opt4">古亭區</option>
                </select>
            </div>
            <input type="text" class="form-control" placeholder="Basic input">
          </div>
          <!-- col -->
          <div class="col-md-12">
            <h6>通報者身份：<span class="required">*</span></h6>
            <div class="form-group demo-icheck">
              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="" checked>醫師
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="">藥師
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value="">護理人員
              </label>
              <label class="radio-inline">
                <input type="radio" name="radio-set-2" value=""> 民眾
              </label>
              <div class="row">
                <div class="col-md-3">
                  <label class="radio-inline">
                <input type="radio" name="radio-set-2" value=""> 廠商
              </label>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="廠商名稱">
                </div>
                <div class="col-md-3">
                  <label class="radio-inline">
                <input type="radio" name="radio-set-2" value=""> 其他
              </label>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" placeholder="其他">
                </div>
              </div>
            </div>
          </div>
          <!-- col -->
        </div>
        <!-- /.portlet-body -->

      </div>
      <!-- /.portlet -->
    </div>
    <!-- /. col -->

  </div>
  <!-- row -->

</div>
<!-- /.container -->
