<div class="container">

  <!-- <div class="page-header">
    <h3 class="page-title">我要通報</h3>

    <ol class="breadcrumb">
      <li><a href="./">通報首頁</a></li>
      <li class="active">我要通報</li>
    </ol>
  </div>--> <!-- /.page-header -->


  <div class="row">
    <div class="col-md-12">
      <div class="portlet portlet-boxed">

        <div class="portlet-header">
          <h4 class="portlet-title">
            請問您知道您要通報哪個類別嗎？
          </h4>
        </div> <!-- /.portlet-header -->

        <div class="portlet-body">

          <div class="col-md-6">
            <p class="text-muted">
              <a href="/report/knowtype?type=yes">我知道通報類別</a>
            </p>
          </div>
          <div class="col-md-6">
            <p class="text-muted">
              <a href="/report/knowtype?type=no">我不知道通報類別</a>
            </p>
          </div>

        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->
    </div> <!-- /. col -->
  </div> <!-- /.row -->

</div> <!-- /.container -->
