<fieldset>


    <section>
      <label class="label">權限 ID</label>
      <label class="input state-disabled">
      <input type="text" name="roleId" placeholder="" v-model="data.item.roleId">
      <b class="tooltip tooltip-bottom-right">請輸入權限 ID</b></label>
    </section>

    <section>
      <label class="label">清單 ID</label>
      <label class="input state-disabled">
      <input type="text" name="menuItemId" placeholder="" v-model="data.item.menuItemId">
      <b class="tooltip tooltip-bottom-right">請輸入清單 ID</b></label>
    </section>


</fieldset>
<script>

var formRules = {}

  // Messages for form validation
var formMessages = {}

</script>
