<fieldset>

  <div class="row">
    <section class="col col-lg-4 col-xs-4">
      <label class="label">訂單 ID</label>
      <label class="input state-disabled fn-edit-disabled">
        <input type="text" name="id" placeholder="" v-model="data.item.id" disabled>
        <b class="tooltip tooltip-bottom-right">訂單 ID</b></label>
    </section>

    <section class="col col-lg-4 col-xs-4">
      <label class="label">訂購名字</label>
      <label class="input state-disabled">
        <input type="text" name="firstname" placeholder="" v-model="data.item.firstname" disabled>
        <b class="tooltip tooltip-bottom-right">名字</b></label>
    </section>

    <section class="col col-lg-4 col-xs-4">
      <label class="label">訂購姓氏</label>
      <label class="input state-disabled">
        <input type="text" name="lastname" placeholder="" v-model="data.item.lastname" disabled>
        <b class="tooltip tooltip-bottom-right">姓氏</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-4 col-xs-4">
      <label class="label">發票開頭</label>
      <label class="input state-disabled">
        <input type="text" name="invoicePrefix" placeholder="" v-model="data.item.invoicePrefix" disabled>
        <b class="tooltip tooltip-bottom-right">發票開頭</b></label>
    </section>

    <section class="col col-lg-4 col-xs-4">
      <label class="label">發票號碼</label>
      <label class="input state-disabled">
        <input class="Order" type="text" name="invoiceNo" placeholder="" v-model="data.item.invoiceNo" disabled>
        <b class="tooltip tooltip-bottom-right">發票號碼</b></label>
    </section>

    <section class="col col-lg-4 col-xs-4">
      <label class="label">總價</label>
      <label class="input state-disabled">
        <input type="text" name="total" placeholder="" v-model="data.item.total" disabled>
        <b class="tooltip tooltip-bottom-right">總數</b></label>
    </section>

  </div>

  <div class="row">
    <section class="col col-lg-4 col-xs-4">
      <label class="label">電子郵件</label>
      <label class="input state-disabled">
        <input type="text" name="email" placeholder="" v-model="data.item.email" disabled>
        <b class="tooltip tooltip-bottom-right">電子郵件</b></label>
    </section>

    <section class="col col-lg-4 col-xs-4">
      <label class="label">電話</label>
      <label class="input state-disabled">
        <input type="text" name="telephone" placeholder="" v-model="data.item.telephone" disabled>
        <b class="tooltip tooltip-bottom-right">電話</b></label>
    </section>

    <section class="col col-lg-4 col-xs-4">
      <label class="label">傳真</label>
      <label class="input state-disabled">
        <input type="text" name="fax" placeholder="" v-model="data.item.fax" disabled>
        <b class="tooltip tooltip-bottom-right">傳真</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-3 col-xs-3">
      <label class="label">付款名字</label>
      <label class="input state-disabled">
        <input type="text" name="paymentFirstname" placeholder="" v-model="data.item.paymentFirstname" disabled>
        <b class="tooltip tooltip-bottom-right">付款名字</b></label>
    </section>

    <section class="col col-lg-3 col-xs-3">
      <label class="label">付款姓氏</label>
      <label class="input state-disabled">
        <input type="text" name="paymentLastname" placeholder="" v-model="data.item.paymentLastname" disabled>
        <b class="tooltip tooltip-bottom-right">付款姓氏</b></label>
    </section>

    <section class="col col-lg-3 col-xs-3">
      <label class="label">付款方式</label>
      <label class="input state-disabled">
        <input type="text" name="paymentMethod" placeholder="" v-model="data.item.paymentMethod" disabled>
        <b class="tooltip tooltip-bottom-right">付款方式</b></label>
    </section>

    <section class="col col-lg-3 col-xs-3">
      <label class="label">付款代碼</label>
      <label class="input state-disabled">
        <input type="text" name="paymentCode" placeholder="" v-model="data.item.paymentCode" disabled>
        <b class="tooltip tooltip-bottom-right">付款代碼</b></label>
    </section>


  </div>

  <div class="row">
    <section class="col col-lg-3 col-xs-3">
      <label class="label">付款郵遞區號</label>
      <label class="input state-disabled">
        <input type="text" name="paymentPostcode" placeholder="" v-model="data.item.paymentPostcode" disabled>
        <b class="tooltip tooltip-bottom-right">付款郵遞區號</b></label>
    </section>

    <section class="col col-lg-3 col-xs-3">
      <label class="label">付款城市</label>
      <label class="input state-disabled">
        <input type="text" name="paymentCity" placeholder="" v-model="data.item.paymentCity" disabled>
        <b class="tooltip tooltip-bottom-right">付款城市</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">付款地址</label>
      <label class="input state-disabled">
        <input type="text" name="paymentAddress1" placeholder="" v-model="data.item.paymentAddress1" disabled>
        <b class="tooltip tooltip-bottom-right">付款地址</b></label>
    </section>

  </div>

  <div class="row">
    <section class="col col-lg-3 col-xs-3">
      <label class="label">運送名字</label>
      <label class="input state-disabled">
        <input type="text" name="shippingFirstname" placeholder="" v-model="data.item.shippingFirstname" disabled>
        <b class="tooltip tooltip-bottom-right">運送名字</b></label>
    </section>

    <section class="col col-lg-3 col-xs-3">
      <label class="label">運送姓氏</label>
      <label class="input state-disabled">
        <input type="text" name="shippingLastname" placeholder="" v-model="data.item.shippingLastname" disabled>
        <b class="tooltip tooltip-bottom-right">運送姓氏</b></label>
    </section>

    <section class="col col-lg-3 col-xs-3">
      <label class="label">運送方式</label>
      <label class="input state-disabled">
        <input type="text" name="shippingMethod" placeholder="" v-model="data.item.shippingMethod" disabled>
        <b class="tooltip tooltip-bottom-right">運送方式</b></label>
    </section>

    <section class="col col-lg-3 col-xs-3">
      <label class="label">運送代碼</label>
      <label class="input state-disabled">
        <input type="text" name="shippingCode" placeholder="" v-model="data.item.shippingCode" disabled>
        <b class="tooltip tooltip-bottom-right">運送代碼</b></label>
    </section>

  </div>

  <div class="row">
    <section class="col col-lg-3 col-xs-3">
      <label class="label">運送郵遞區號</label>
      <label class="input state-disabled">
        <input type="text" name="shippingPostcode" placeholder="" v-model="data.item.shippingPostcode" disabled>
        <b class="tooltip tooltip-bottom-right">運送郵遞區號</b></label>
    </section>

    <section class="col col-lg-3 col-xs-3">
      <label class="label">運送城市</label>
      <label class="input state-disabled">
        <input type="text" name="shippingCity" placeholder="" v-model="data.item.shippingCity" disabled>
        <b class="tooltip tooltip-bottom-right">運送城市</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">運送地址</label>
      <label class="input state-disabled">
        <input type="text" name="shippingAddress1" placeholder="" v-model="data.item.shippingAddress1" disabled>
        <b class="tooltip tooltip-bottom-right">運送地址</b></label>
    </section>

  </div>

  <div class="row">

    <section class="col col-lg-6 col-xs-6">
      <label class="label">附註</label>
      <label class="input state-disabled">
        <input type="text" name="comment" placeholder="" v-model="data.item.comment" disabled>
        <b class="tooltip tooltip-bottom-right">附註</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">追蹤狀態</label>
      <label class="input state-disabled">
        <input type="text" name="tracking" placeholder="" v-model="data.item.tracking" disabled>
        <b class="tooltip tooltip-bottom-right">追蹤狀態</b></label>
    </section>

  </div>

  <div class="row">

    <section class="col col-lg-6 col-xs-6">
      <label class="label">IP</label>
      <label class="input state-disabled fn-edit-disabled">
        <input type="text" name="ip" placeholder="" v-model="data.item.ip" disabled>
        <b class="tooltip tooltip-bottom-right">IP</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">Forwarded IP</label>
      <label class="input state-disabled fn-edit-disabled">
        <input type="text" name="forwardedIp" placeholder="" v-model="data.item.forwardedIp" disabled>
        <b class="tooltip tooltip-bottom-right">Forwarded IP</b></label>
    </section>
  </div>

  <div class="row">
    <section class="col col-lg-12 col-xs-12">
      <label class="label">User Agent</label>
      <label class="input state-disabled fn-edit-disabled">
        <input type="text" name="userAgent" placeholder="" v-model="data.item.userAgent" disabled>
        <b class="tooltip tooltip-bottom-right">User Agent</b></label>
    </section>
  </div>

  <br/>
  <hr style="border-width: 2px;"/>
  <br/>

  <div class="row">
    <section class="col col-lg-6 col-xs-6">
      <label class="label">Allpay ID</label>
      <label class="input state-disabled">
        <input type="text" name="AllpayId" placeholder="" v-model="data.item.AllpayId" disabled>
        <b class="tooltip tooltip-bottom-right">Allpay ID</b></label>
    </section>

    <section class="col col-lg-6 col-xs-6">
      <label class="label">User ID</label>
      <label class="input state-disabled">
        <input type="text" name="UserId" placeholder="" v-model="data.item.UserId" disabled>
        <b class="tooltip tooltip-bottom-right">User ID</b></label>
    </section>
  </div>

</fieldset>
<script>
var formRules = {
  invoiceNo: {
    required: true
  },
  invoicePrefix: {
    required: true
  },
  firstname: {
    required: true
  },
  lastname: {
    required: true
  },
  email: {
    required: true,
    email: true,
  },
  telephone: {
    required: true
  },
  fax: {
    required: true
  },
  paymentFirstname: {
    required: true
  },
  paymentLastname: {
    required: true
  },
  paymentAddress1: {
    required: true
  },
  paymentCity: {
    required: true
  },
  paymentPostcode: {
    required: true
  },
  paymentMethod: {
    required: true
  },
  paymentCode: {
    required: true
  },
  shippingFirstname: {
    required: true
  },
  shippingLastname: {
    required: true
  },
  shippingAddress1: {
    required: true
  },
  shippingCity: {
    required: true
  },
  shippingPostcode: {
    required: true
  },
  shippingMethod: {
    required: true
  },
  shippingCode: {
    required: true
  },
  comment: {
    required: true
  },
  total: {
    required: true
  },
  tracking: {
    required: true
  },
  AllpayId: {
    required: true,
    digits: true
  },
  UserId: {
    required: true,
    digits: true
  }
}

// Messages for form validation
var formMessages = {

  invoiceNo: {
    required: "請給予發票號碼"
  },
  invoicePrefix: {
    required: "請給予發票開頭"
  },
  firstname: {
    required: "請給予名字"
  },
  lastname: {
    required: "請給予姓氏"
  },
  email: {
    required: "請給予電子郵件"
  },
  telephone: {
    required: "請給予電話"
  },
  fax: {
    required: "請給予傳真號碼"
  },
  paymentFirstname: {
    required: "請給予付款名字"
  },
  paymentLastname: {
    required: "請給予付款姓氏"
  },
  paymentAddress1: {
    required: "請給予付款地址"
  },
  paymentCity: {
    required: "請給予付款縣市"
  },
  paymentPostcode: {
    required: "請給予付款郵遞區號"
  },
  paymentMethod: {
    required: "請給予付款方式"
  },
  paymentCode: {
    required: "請給予付款代碼"
  },
  shippingFirstname: {
    required: "請給予運送名字"
  },
  shippingLastname: {
    required: "請給予運送姓氏"
  },
  shippingAddress1: {
    required: "請給予運送地址"
  },
  shippingCity: {
    required: "請給予運送縣市"
  },
  shippingPostcode: {
    required: "請給予運送郵遞區號"
  },
  shippingMethod: {
    required: "請給予運送方式"
  },
  shippingCode: {
    required: "請給予運送代碼"
  },
  comment: {
    required: "請給予附註"
  },
  total: {
    required: "請給予總數"
  },
  tracking: {
    required: "請給予追蹤代碼"
  },

  AllpayId: {
    required: "請給予支付ID",
    digits: "請輸入整數"
  },
  UserId: {
    required: "請給予會員ID",
    digits: "請輸入整數"
  },
}
</script>
