<% LayoutUtils.addStylesheets('/assets/jason/page/index/index.css'); %>
<% LayoutUtils.addStylesheets('/assets/jason/page/contact/contact.css'); %>

<div class="container body">

<% include ../../partials/banner.ejs %>

  <div class="row">
    <div class="col-md-9 col-md-push-3 content">

      <article>
        <header class="article-title">
          <h1 id="contactForm">聯絡表單</h2>
        </header>
        <form class="contact-form">
          <div class="form-group">
            <label for="exampleInputEmail1">姓名</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">電子郵件</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">電話</label>
            <input type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">內容</label>
            <textarea class="form-control" rows="5"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="margin-right:0.6em">送出</button>
          <button type="reset" class="btn btn-default">重填</button>
        </form>
      </article>

      <article style="margin-top:6em;">
        <header class="article-title">
          <h1 id="contactInfo">聯絡方式</h2>
        </header>
        <div class="row contact-info">
          <div class="col-sm-2 contact-info-icon">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </div>
          <div class="col-sm-9 contact-info-content">
            <h1>電子郵件</h1>
            <p>
              您可將您的意見或問題寄給我們的技術人員。
            </p>
            <a href="mailto:autodoor@ms95.url.com.tw">autodoor@ms95.url.com.tw</a>
          </div>
        </div>
        <div class="row contact-info">
          <div class="col-sm-2 contact-info-icon">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </div>
          <div class="col-sm-10 contact-info-content">
            <h1>電話聯絡</h1>
            <p>
              您可以於我們的上班時間內星期一~六;以電話與我們連絡我們會有相關服務人員回答您的問題。
            </p>
            <a href="tel:+886422467161">(04)2246-7160</a>
          </div>
        </div>
        <div class="row contact-info">
          <div class="col-sm-2 contact-info-icon">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          </div>
          <div class="col-sm-10 contact-info-content">
            <h1>傳真文件</h1>
            <p>
              假如您需要以傳真方式與我們連絡，請註明您的姓名連絡資料及相關事項
            </p>
            <a href="tel:+886422467161">(04)2246-7160</a>
          </div>
        </div>
        <div class="row contact-info">
          <div class="col-sm-2 contact-info-icon">
            <i class="fa fa-map-signs" aria-hidden="true"></i>
          </div>
          <div class="col-sm-10 contact-info-content">
            <h1>郵寄文件</h1>
            <p>
              假如您需要以郵局郵寄方式與我們連絡，請將相關資料郵寄至下列地址：
            </p>
            <span>郵遞區號406-68台中市北屯區修齊巷23號 捷陞專業自動門工程行</span>
          </div>
        </div>

      </article>
    </div>

    <div class="col-md-3 col-md-pull-9" style="padding-right:2.5em;">
      <div class="side-menu" id="sticker">
        <h3>
          聯絡我們
          <small>Contact Us</small>
        </h3>
        <div class="list-group">
          <a data-link="contactForm" href="/product/group/0/page/1" class="list-group-item">聯絡表單</a>
          <a data-link="contactInfo" href="/product/group/0/page/1" class="list-group-item">聯絡方式</a>
        </div>
      </div>
    </div>
  </div>

</div>

<% LayoutUtils.addScriptBlock(`
jQuery(document).ready(function() {
  $('.side-menu div a').click(function(e){
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $('#'+$(this).data('link')).offset().top - 55
    }, 500);
  });
});
`); %>
