<fieldset>

  
    <section>
      <label class="label">ID</label>
      <label class="input state-disabled">
      <input type="text" name="id" placeholder="" v-model="data.item.id" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入ID</b></label>
    </section>
  
    <section>
      <label class="label">位置</label>
      <label class="input state-disabled">
      <input type="text" name="name" placeholder="" v-model="data.item.name" disabled>
      <b class="tooltip tooltip-bottom-right">請輸入位置</b></label>
    </section>
  

</fieldset>
<script>
var formRules = {}
var formMessages = {}
</script>
